<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover - Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black" %></li>
          <li class="has-sub-nav"><%= link_to "Work", '/work/projects', class: "nav-red" %>
            <ul class="sub-site-nav-hidden">
              <li><%= link_to "Projects", '/work/projects', class: "nav-red " %></li>
              <li><%= link_to "Art", '/work/art', class: "nav-red" %></li>
              <li><%= link_to "Photography", '/work/photography', class: "nav-red" %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green current" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- ABOUT_PAGE CONTENT -->
    <section class="about row">
      <h1 class="page-title">About Me</h1>
      <div class="about-img one-third first">
        <%= image_tag("james_front_circle.png", class: "about-img-small") %>
        <%= image_tag("james_front_copy.jpg", class: "about-img-large") %>
      </div>
      <section class="about-me two-thirds">
        <article class="first">
          <h3>Hello! My name is James</h3>
          <p>I have been a software developer in Seattle for three years while building websites part-time. Now I build websites full-time! My favorite part of the building process is designing the look and feel of the site. I stress a positive user experience, achieved with an interesting interface and great usability. You'll find that most of my work is a healthy blend of these things.</p>
        </article>
        <article class="one-half first">
          <h4>Skills/Experience</h4>
          <p>Front and backend web development. BS in computer science with courses in art and design. Software development. Application/user testing. Mobile development. Research. Data analysis. Information architecture. Usability. Unique design solutions.</p>
          <h4>Languages/Programs</h4>
          <p>HTML5. CSS3. JavaScript/jQuery. Ruby/Rails. GIT/SVN. Photoshop. Illustrator.</p>
        </article>
        <article class="one-half">
          <h4>Things I Love</h4>
          <p>Dogs. Psychology. Philosophy. Gonzaga Bulldogs. Fashion. Architecture. Music. Theoretical/Quantum Physics. <a href="https://en.wikipedia.org/wiki/Ex_Machina_(film)" title="Ex Machina Wiki" class="green">Ex Machina</a>. Interstellar. <a href="http://righteousmind.com/" title="RighteousMind.com" class="green">The Righteous Mind</a>. Cosmos.</p>
          <h4>My Hobbies</h4>
          <p>Photography. Reading. Video Games. Drawing. Woodworking. Yoga. Running.</p>
        </article>
        <article class="first">
          <h5 class="resume-btn"><%= link_to "View Resumé.pdf", image_path("JamesHooverResume.pdf"), class: "green" %></h5>
          <h5 class="resume-btn"><a href="/assets/JamesHooverResume.pdf" title="Download Resume" class="green" download>Download Resumé.pdf</a></h5>
        </article>
      </section>
  </section>
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="icon-tray">
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>GitHub</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
    <h6 class="copyright">Designed and built by James - &copy; 2015</h6>
  </footer>
</body>