<body>
  <nav id="topnav" class="container full_width">
    <ul class="margin_left bottom">
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Work/", '/work/sites' %></li>
      <li><%= link_to "About", '/about', :class => "active" %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
  <div id="topnav_clear"></div>
  <div id="side_info">
    <h1>James Hoover</h1>
    <h2>UX/UI Design Porfolio</h2>
    <h4>Designer. Artist. Engineer. Crafter.</h4>
  </div>
  <div class="container about_page">
  	<h1 id="location">About Me:</h1>
    <div>
      <div class="about_img">
        <%= image_tag("me.jpg") %>
      </div>
      <div class="about_text">
        <h4><span>Name: James<br></span></h4>
        <h4><span>Email:<a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></span></h4>
        <h4><span>Location: Seattle, WA</span> </h4>
        <h4><span>Degree: Computer Science</span> </h4>
        <h4><span>Profession: Software Developer</span></h4>
        <h4><span>Desired profession: UI/UX Designer</span></h4>
      </div>
    </div>
  </div>
</body>