<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- NAVBAR -->
    <nav class="topnav full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/meBW.jpg" class="logo_img">
          <h4>James Hoover</h4>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work /", '/work/sites', :class => "link_red red_border" %>
          <ul class="sub_topnav_hidden">
            <li class="capitalize"><%= link_to "/ Sites", '/work/sites', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Art", '/work/art', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Photography", '/work/photography', :class => "link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border active" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <div class="spacer_50"></div>
    <!-- ABOUT_PAGE CONTENT -->
    <div class="container about_page">
    	<h1 class="location bold uppercase">About Me:</h1>
      <div class="about_page_content">
          <div id="about_img">
            <%= image_tag("me_side_copy.JPG") %>
            <div id="about_img_text">
              <h4><span class="uppercase bold">Name:</span> James Hoover<br></h4><br>
              <h4><span class="uppercase bold">Email:</span><a href="mailto:jamesfhoover@gmail.com" class="link_green green"> jamesfhoover@gmail.com</a></h4><br>
              <h4><span class="uppercase bold">Location:</span> Seattle, WA </h4><br>
              <h4><span class="uppercase bold">Degree:</span> BS Computer Science</h4><br>
              <h4><span class="uppercase bold">Profession:</span> Software Developer</h4><br> 
              <h4><span class="uppercase bold">Future Profession:</span> UX/UI Designer</h4>
            </div>
          </div>
          <div id="about_p">
            <h3 class="inline_header bold">My name is James Hoover</h3><p class="paragraph">Seattle native. BS in computer science from the University of Gonzaga. Been a software developer for 2.5 years. Want to add more subjectiveness to my diet, more critical thinking - reasoned judgements. I have the background in technology, I love the visual arts, and UX incorporates all these disciplines.
            </p>
            <h3 class="inline_header bold">My Skills Encompass</h3>
            <p class="paragraph">Design. HTML. CSS. Software Dev. Front/Backend Web Dev. Android App Dev. Testing. User Research, IA, Visual Design, Usability Evaluation.Creativity, a passion for theoretical methods and ideas, and an entrepreneurial, innovative spirit. Searching for and discovering root causes.</p>
            <h3 class="inline_header bold">My Hobbies/Interests Include</h3>
            <p class="paragraph">Drawing. Photography. Reading. Psychology. Philosophy. Fashion. Architecture. Video Games. Theoretical/Quantum Physics. Woodworking. Painting. Running.</p>
            <h3 class="inline_header bold">I am Pursuing</h3>
            <p class="paragraph">A career in the field of user experience design.</p>
          </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <h4>&copy;2015 - James Hoover</h4>
  </div>
</body>