<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- NAVBAR -->
    <nav class="topnav container">
      <!-- Logo/site info -->
      <a href="/" title="Home"class="logo_link"><h4 class="logo"><img src="/assets/icons/logoCopy.png" class="logo_img">JamesHooverDesign.com</h4></a>
      <h4 id="site_info" class="subtext">James Hoover<br>UX/UI Design Portfolio<br><a href="mailto:jamesfhoover@gmail.com" title="Email" class="inline_link_green">jamesfhoover@gmail.com</a></h4><br>
      <!-- Nav -->
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work\xC2\xA0/", '/work/sites', :class => "link_red red_border" %>
          <ul class="sub_topnav_hidden">
            <a href="/work/sites"><li class="capitalize">Websites</li></a><br>
            <a href="/work/art"><li class="capitalize">Art</li></a><br>
            <a href="/work/photography"><li class="capitalize">Photography</li></a>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border active" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <!-- ABOUT_PAGE CONTENT -->
    <div class="container" id="about_page">
    	<h1 class="location bold border_bottom">About Me:</h1>
      <div id="about_img">
        <%= image_tag("james_front_copy.jpg") %>
      </div>
      <div id="about_p">
        <h3 class="inline_header bold">My name is James Hoover</h3>
        <p class="paragraph">I am a Seattle native. I achieved a BS in computer science from Gonzaga University. Been a professional software developer for three years. Came across many programs/apps and projects that did not have good experience. Started programming with user in mind. Enjoyed it more than backend programming with no user/experience interaction. Uses more of both sides of my brain half (artistic/creative/subjective) rather than soley (analytical/logical/strategic). The past year+ I read/studied/practiced UX. I am self taught in the field of UX design. Have much more i want to learn. Believe in excelent usability but you don't have to sacrifice all design/beautification elements to acheive that, in fact, aesthetics contribute to the overall positive experience.
        </p>
        <h3 class="inline_header bold">My Skills Encompass/Resume</h3>
        <p class="paragraph">Taken 3D Modeling course and Design course. Design. HTML. CSS. Software development. Front and backend web development. Mobile app development. Application/software/interface testing. Photoshop. Illustrator? User Research, IA, Visual Design, Usability Evaluation. Creativity. Searching for and discovering root causes.</p>
        <h3 class="inline_header bold">I Love</h3>
        <p class="paragraph">Drawing. Photography. Reading. Psychology. Philosophy. Fashion. Architecture. Video Games. Theoretical/Quantum Physics. Woodworking. Painting. Yoga. Running. Innovation. Theoretical methods and ideas.</p>
        <h3 class="inline_header bold">I am Pursuing</h3>
        <p class="paragraph">A career in the field of user experience design...My personal experience gives me a shared understanding of the world of engineering and design. This puts me in position to bridge the gap between the two industries.</p>
        <div class="spacer_25"></div>

        <h4 class="bold">My official resume:</h4>
        <div class="spacer_10"></div>
        <h4><%= link_to "View in browser", image_path("JamesHooverResume.pdf"), class: "green" %></h4>
        <div class="spacer_10"></div>
        <h4><a href="/assets/JamesHooverResume.pdf" title="Download Resume" class="green" download>Download PDF</a></h4>

      </div>
    </div>
  </div>
  <div class="spacer_50"></div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <div class="icon_tray center_horizontal_text">
      <div class="spacer_10"></div>
      <a href="https://github.com/JamesHoover" title="GitHub"><div id="github_icon"></div><br>Github</a>
      <a href="http://www.facebook.com/" title="Facebook"><div id="facebook_icon"></div><br>Facebook</a>
      <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div id="flickr_icon"></div><br>Flickr</a>
      <a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div id="instagram_icon"></div><br>Instagram</a>
      <a href="mailto:jamesfhoover@gmail.com" title="Email"><div id="email_icon"></div><br>Email</a>
    </div>
    <h4 id="copy">&copy;2015 - James Hoover</h4>
  </div>
</body>