<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover - Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black" %></li>
          <li><%= link_to "Work", '/work/projects', class: "nav-red" %></li>
          <li><%= link_to "About", '/about', class: "nav-green current" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- ABOUT_PAGE CONTENT -->
    <section class="row">
      <h1 class="page-title">About Me</h1>
      <div class="about-img one-third first">
        <%= image_tag("james_front_copy.jpg") %>
      </div>
      <article class="about-me two-thirds">
        <h3>Hello! My name is James</h3>
        <p>I design and build websites! Born and raised in Seattle. I graduated in 2012 with my BS in computer science from Gonzaga University, and have been a professional software developer since.<br>In my life around computers and technology I come across countless programs/apps/websites and projects that do not have an intuitive interface and overall poor user experience. It is something I cannot look past as I have always programmed/designed with the user in mind. In the past year+ I decided to dive deeper into UX and started reading and studying UX practices. I Love how it challenges both sides of the brain; right (artistic/creative/subjective) vs left (analytical/logical/strategic). I am fascinated by everthing I have learned so far and how applicable it is to virtually everything in life but there is much more I want to learn and accomplish. I Believe in excellent usability without sacrificing all design/beautification elements to achieve that. aesthetics contribute to the overall positive experience.
        </p>
        <h3 class="inline_header">My Skills Encompass/Resume</h3>
        <p class="paragraph">Taken 3D Modeling course and Design course. Design. HTML5. CSS3. JavaScript. Ruby. Rails. Python. Software development. Front and backend web development. Mobile app development. Application/software/interface testing. Photoshop. Illustrator. User Research, IA, Visual Design, Usability Evaluation. Creativity. Innovation. Searching for and discovering root causes.</p>
        <h3 class="inline_header">I Love</h3>
        <p class="paragraph">Drawing. Photography. Reading. Psychology. Philosophy. Fashion. Architecture. Video Games. Theoretical/Quantum Physics. Woodworking. Painting. Dogs. Yoga. Running.</p>
        <h3 class="inline_header">I am Pursuing</h3>
        <p class="paragraph">A career in the industry of user experience design...I am looking for a company that can utilize my current experience and knowledge while challenging me to be better and more efficient. I am in a unique position of knowing the engineering needs/requirements/restrictions and having a developed understanding of designing for humans/users. This shared knowledge puts me in position to bridge the gap between the two industries of engineering and design.</p>
        <div class="spacer_25"></div>

        <h4>My official resume:</h4>
        <h4><%= link_to "View in browser", image_path("JamesHooverResume.pdf"), class: "outline-green" %> <a href="/assets/JamesHooverResume.pdf" title="Download Resume" class="outline-green" download>Download PDF</a></h4>
      </article>
  </section>
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="icon-tray">
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>Github</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
    <h6 class="copyright">&copy;2015 - James Hoover</h6>
  </footer>
</body>