<body>
  <nav id="topnav" class="container full_width">
    <ul class="margin_left bottom">     
			<li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Work/", '/work/sites', :class => "active" %></li>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
  <div id="topnav_clear"></div>
  <div id="side_info">
    <h1>James Hoover</h1>
    <h2>UX/UI Design Porfolio</h2>
    <h4>Designer. Artist. Engineer. Crafter.</h4>
  </div>
  <div class="container work_page">
    <h1 id="location">My Work:</h1>
    <nav id="worknav">
      <ul>
      	<li><%= link_to "Sites", '/work/sites' %></li>
      	<li><%= link_to "Art", '/work/art', :class => "active" %></li>
        <li><%= link_to "Photograhy", '/work/photography' %></li>
      </ul>
    </nav>
    <div>
      <h2 id="work_location">Art</h2>
      <p>I am passionate about the visual arts and I utilize this in my work. Here are some pieces that I've recently created.</p>
    </div>
  </div>
</body>