<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
  	<!-- NAVBAR -->
    <nav class="topnav full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/meBW.jpg" class="logo_img">
          <h4>James Hoover</h4>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work /", '/work/sites', :class => "link_red red_border active" %>
          <ul class="sub_topnav">
            <li class="capitalize"><%= link_to "/ Sites", '/work/sites', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Art", '/work/art', :class => "link_red active" %></li><br>
            <li class="capitalize"><%= link_to "/ Photography", '/work/photography', :class => "link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
		<!-- SPACERS -->
    <div class="topnav_clear"></div>
    <div class="spacer_50"></div>
    <!-- WORK_PAGE CONTENT - ART -->
    <div class="container work_page">
      <h1 class="location bold uppercase">My Work:</h1>
      <nav id="worknav">
        <ul class="indent">
        	<li><%= link_to "Sites", '/work/sites', :class => "link_red" %></li>
        	<li><%= link_to "Art", '/work/art', :class => "link_red active" %></li>
          <li><%= link_to "Photography", '/work/photography', :class => "link_red" %></li>
        </ul>
      </nav>
      <h2 class="work_location uppercase">Art</h2>
      <p class="paragraph indent">I've been drawing and creating art all my life. Here are some recent pieces.</p>
      <div class="art_block_container">
        <div class="spacer_25"></div>

        <div class="art_block">
          <div class="spacer_10"></div>
          <%= image_tag("art/TheWarden.JPG") %>
          <h4 class="subtext"><span class="italic">The Warden</span> - 2014</h4>
          <div class="spacer_50"></div>
        </div>

        <div class="art_block">
          <div class="spacer_10"></div>
          <%= image_tag("art/PitPup.JPG") %>
          <h4 class="subtext"><span class="italic">Wink</span> - 2014</h4>
          <div class="spacer_50"></div>
        </div>

        <div class="art_block">
          <div class="spacer_10"></div>
          <%= image_tag("art/BlackRose.JPG") %>
          <h4 class="subtext"><span class="italic">Black Rose</span> - 2014</h4>
          <div class="spacer_50"></div>
        </div>

        <div class="art_block">
          <div class="spacer_10"></div>
          <%= image_tag("art/Lola.JPG") %>
          <h4 class="subtext"><span class="italic">Lola</span> - 2014</h4>
          <div class="spacer_50"></div>
        </div>

        <div class="art_block">
          <div class="spacer_10"></div>
          <%= image_tag("art/Mez.JPG") %>
          <h4 class="subtext"><span class="italic">Mesmerized</span> - 2014</h4>
          <div class="spacer_50"></div>
        </div>

        <div class="art_block">
          <div class="spacer_10"></div>
          <%= image_tag("art/Doodle1.JPG") %>
          <h4 class="subtext"><span class="italic">Doodle I</span> - 2013</h4>
          <div class="spacer_50"></div>
        </div>

        <div class="art_block">
          <div class="spacer_10"></div>
          <%= image_tag("art/Doodle2.JPG") %>
          <h4 class="subtext"><span class="italic">Doodle II</span> - 2013</h4>
          <div class="spacer_50"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="spacer_50"></div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <a href="#top">Jump to top.</a>
  	<h4>&copy;2015 - James Hoover</h4>
  </div>
</body>