<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover - Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black" %></li>
          <li><%= link_to "Work", '/work/projects', class: "nav-red current" %>
            <ul class="sub-site-nav">
              <li><%= link_to "Projects", '/work/projects', class: "nav-red" %></li>
              <li><%= link_to "Art", '/work/art', class: "nav-red current" %></li>
              <li><%= link_to "Photography", '/work/photography', class: "nav-red" %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- WORK-NAV -->
    <nav class="work-nav row">
      <h1 class="work-title">My Work</h1>
      <h2 class="sub-title">Art</h2>
      <ul>
        <li><%= link_to "Projects", '/work/projects', class: "nav-red" %></li>
        <li><%= link_to "Art", '/work/art', class: "nav-red current" %></li>
        <li><%= link_to "Photography", '/work/photography', class: "nav-red" %></li>
      </ul>
    </nav>
    <!-- WORK-CONTENT -->
    <section class="row art">
      <article class="art-block one-third first">
        <%= link_to image_tag("art/TheWarden.JPG"), image_path("art/TheWarden.JPG"), class: "art-img-link",  title: "The Warden" %>
        <h5 class="subtext"><span class="italic">The Warden</span> - 2014</h5>
      </article>

      <article class="art-block one-third">
        <%= link_to image_tag("art/Wink.jpg"), image_path("art/Wink.jpg"), class: "art-img-link",  title: "Wink" %>
        <h5 class="subtext"><span class="italic">Wink</span> - 2014</h5>
      </article>

      <article class="art-block one-third">
        <%= link_to image_tag("art/Mez.JPG"), image_path("art/Mez.JPG"), class: "art-img-link",  title: "Mesmerized" %>
        <h5 class="subtext"><span class="italic">Mesmerized</span> - 2014</h5>
      </article>

      <article class="art-block one-third first">
        <%= link_to image_tag("art/BlackRose.JPG"), image_path("art/BlackRose.JPG"), class: "art-img-link",  title: "Black Rose" %>
        <h5 class="subtext"><span class="italic">Black Rose</span> - 2014</h5>
      </article>

      <article class="art-block one-third">
        <%= link_to image_tag("art/Lola.JPG"), image_path("art/Lola.JPG"), class: "art-img-link",  title: "Lola" %>
        <h5 class="subtext"><span class="italic">Lola</span> - 2014</h4>
      </article>

      <article class="art-block one-third">
        <%= link_to image_tag("art/Doodle1.jpg"), image_path("art/Doodle1.JPG"), class: "art-img-link",  title: "Doodle I" %>
        <h5 class="subtext"><span class="italic">Doodle I</span> - 2013</h5>
      </article>

      <article class="art-block one-third first">
        <%= link_to image_tag("art/LoneWolf.jpg"), image_path("art/LoneWolf.jpg"), class: "art-img-link",  title: "Lone Wolf" %>
        <h5 class="subtext"><span class="italic">Lone Wolf</span> - 2014</h5>
      </article>

      <article class="art-block one-third">
        <%= link_to image_tag("art/RedRose.jpg"), image_path("art/RedRose.jpg"), class: "art-img-link",  title: "Red Rose" %>
        <h5 class="subtext"><span class="italic">Red Rose</span> - Unfinished</h5>
      </article>

      <article class="art-block one-third">
        <%= link_to image_tag("art/Doodle2.jpg"), image_path("art/Doodle2.JPG"), class: "art-img-link",  title: "Doodle II" %>
        <h5 class="subtext"><span class="italic">Doodle II</span> - 2013</h5>
      </article>
    </section>
  </div><!-- END DIV wrapper -->
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="jump-top">
      <h4><a href="#top" title="Top" class="outline-black">Jump to top</a></h4>
    </section>
    <section class="icon-tray">
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>GitHub</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
    <h6 class="copyright">Designed and built by James - &copy; 2015</h6>
  </footer>
  <script type="text/javascript">
    $('.art').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery: {
        // options for gallery
        enabled: true
      }
    });
  </script>
</body>