<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
  	<!-- NAVBAR -->
    <nav class="topnav full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/icons/logoCopy.png" class="logo_img">
          <h4>James Hoover</h4>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work\xC2\xA0/", '/work/sites', :class => "link_red red_border active" %>
          <ul class="sub_topnav">
            <li class="capitalize"><%= link_to "/\xC2\xA0Sites", '/work/sites', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/\xC2\xA0Art", '/work/art', :class => "link_red active" %></li><br>
            <li class="capitalize"><%= link_to "/\xC2\xA0Photography", '/work/photography', :class => "link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
		<!-- SPACERS -->
    <div class="topnav_clear"></div>
    <div class="spacer_50"></div>
    <!-- WORK_PAGE CONTENT - ART -->
    <div class="container" id="work_page">
      <h1 class="location bold">My Work:</h1>
      <nav id="worknav">
        <ul class="indent">
        	<li><%= link_to "Sites", '/work/sites', :class => "link_red" %></li>
        	<li><%= link_to "Art", '/work/art', :class => "link_red active" %></li>
          <li><%= link_to "Photography", '/work/photography', :class => "link_red" %></li>
        </ul>
      </nav>
      <h2 class="work_location bold uppercase">Art</h2>
      <p class="paragraph">I've been drawing and creating art all my life. Here are some recent pieces.</p>
      <div class="img_container">

        <div id="art_column_one">

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/TheWarden.jpg"), image_path("art/TheWarden.jpg"), class: "art_img_link",  title: "The Warden" %>
            <h4 class="subtext"><span class="italic">The Warden</span> - 2014</h4>
            <div class="spacer_50"></div>
          </div>

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/Wink.jpg"), image_path("art/Wink.jpg"), class: "art_img_link",  title: "Wink" %>
            <h4 class="subtext"><span class="italic">Wink</span> - 2014</h4>
            <div class="spacer_50"></div>
          </div>

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/BlackRose.jpg"), image_path("art/BlackRose.jpg"), class: "art_img_link",  title: "Black Rose" %>
            <h4 class="subtext"><span class="italic">Black Rose</span> - 2014</h4>
            <div class="spacer_50"></div>
          </div>

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/LolaScan.jpg"), image_path("art/LolaScan.jpg"), class: "art_img_link",  title: "Lola" %>
            <h4 class="subtext"><span class="italic">Lola</span> - 2014</h4>
            <div class="spacer_50"></div>
          </div>

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/Doodle2.jpg"), image_path("art/Doodle2.jpg"), class: "art_img_link",  title: "Doodle II" %>
            <h4 class="subtext"><span class="italic">Doodle II</span> - 2013</h4>
            <div class="spacer_50"></div>
          </div>

        </div>
        <div id="art_column_two">

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/MezScan.jpg"), image_path("art/MezScan.jpg"), class: "art_img_link",  title: "Mesmerized" %>
            <h4 class="subtext"><span class="italic">Mesmerized</span> - 2014</h4>
            <div class="spacer_50"></div>
          </div>

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/LoneWolf.jpg"), image_path("art/LoneWolf.jpg"), class: "art_img_link",  title: "Lone Wolf" %>
            <h4 class="subtext"><span class="italic">Lone Wolf</span> - 2014</h4>
            <div class="spacer_50"></div>
          </div>

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/RedRose.jpg"), image_path("art/RedRose.jpg"), class: "art_img_link",  title: "Red Rose" %>
            <h4 class="subtext"><span class="italic">Red Rose</span> - Unfinished</h4>
            <div class="spacer_50"></div>
          </div>

          <div class="art_block">
            <div class="spacer_10"></div>
            <%= link_to image_tag("art/Doodle1.jpg"), image_path("art/Doodle1.jpg"), class: "art_img_link",  title: "Doodle I" %>
            <h4 class="subtext"><span class="italic">Doodle I</span> - 2013</h4>
            <div class="spacer_50"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="spacer_50"></div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <h4><a href="#top" title="Top" id="jump_top">Jump to top</a></h4>
    <div class="spacer_50"></div>
    <div class="icon_tray center_horizontal_text">
      <div class="spacer_10"></div>
      <a href="http://www.facebook.com/" title="Facebook"><div id="facebook_icon"></div></a>
      <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div id="flickr_icon"></div></a>
      <a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div id="instagram_icon"></div></a>
      <a href="http://www.tumblr.com/" title="Tumblr"><div id="tumblr_icon"></div></a>
      <a href="mailto:jamesfhoover@gmail.com" title="Email"><div id="email_icon"></div></a>
    </div>
  	<h4>&copy;2015 - James Hoover</h4>
  </div>
</body>