<body>
  <nav id="topnav" class="container full_width">
    <ul class="margin_left bottom">     
      <li><%= link_to "Home", '/', :id =>"nav_home" %></li>
      <li><%= link_to "Work/", '/work/sites', :id =>"nav_work", :class => "active" %></li>
      <li><%= link_to "About", '/about', :id => "nav_about" %></li>
      <li><%= link_to "Contact", '/contact', :id => "nav_contact" %></li>
    </ul>
  </nav>
  <div id="topnav_clear"></div>
  <div class="container work_page">
    <a href="/">
      <div id="sml_site_info">
        <img src="/assets/me.jpg" width="48" height="48" id="logo">
        <p>
          <h3>James Hoover</h3>
          <h4 class="subtext">UX/UI Design Porfolio</h4>
          <h4 class="subtext">Designer. Artist. Engineer. Crafter.</h4>
        </p>
        </div>
    </a>
    <h1 id="location">My Work:</h1>
    <nav id="worknav">
      <ul>
      	<li><%= link_to "Sites", '/work/sites' %></li>
      	<li><%= link_to "Art", '/work/art', :class => "active" %></li>
        <li><%= link_to "Photograhy", '/work/photography' %></li>
      </ul>
    </nav>
    <div>
      <h2 id="work_location">Art</h2>
      <p>I am passionate about the visual arts and I utilize this in my work. Here are some pieces that I've recently created.</p>
    </div>
  </div>
</body>