<body>
  <nav class="topnav container full_width">
    <a href="/" class="logo_link">
      <div class="logo">
        <img src="/assets/me.jpg" class="logo_img">
        <h3>James Hoover</h3>
        <h4 class="subtext">Design Porfolio</h4>
      </div>
    </a>
    <div class="nav_spacer_top"></div>
    <ul class="uppercase">
      <li><%= link_to "Home", '/', :class =>"link_home" %></li>
      <li><%= link_to "Work/", '/work/sites', :class => "link_work active" %>
        <ul class="sub_topnav">
          <li class="capitalize"><%= link_to "/Sites", '/work/sites', :class =>"link_work" %></li>
          <li class="capitalize"><%= link_to "/Art", '/work/art', :class =>"link_work active" %></li>
          <li class="capitalize"><%= link_to "/Photograhy", '/work/photography', :class =>"link_work" %></li>
        </ul>
      </li>
      <li><%= link_to "About", '/about', :class => "link_about" %></li>
      <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_contact" %></li>
    </ul>
    <div class="nav_spacer_bottom"></div>
  </nav>
  <div class="topnav_clear"></div>
  <div class="spacer"></div>
  <div class="container work_page">
    <h1 class="location bold uppercase">My Work:</h1>
    <nav id="worknav">
      <ul>
      	<li><%= link_to "Sites", '/work/sites', :class => "link_work" %></li>
      	<li><%= link_to "Art", '/work/art', :class => "link_work active" %></li>
        <li><%= link_to "Photograhy", '/work/photography', :class => "link_work" %></li>
      </ul>
    </nav>
    <div>
      <h2 class="work_location uppercase">Art</h2>
      <p>I am passionate about the visual arts and I utilize this in my work. Here are some pieces that I've recently created.</p>
    </div>
  </div>
  <div class="footer"><h1 id="copy">&copy;2015 - James Hoover</h1></div>
</body>