<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- NAVBAR -->
    <nav class="topnav full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/meBW.jpg" class="logo_img">
          <h4>James Hoover</h4>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work /", '/work/sites', :class => "link_red red_border" %>
          <ul class="sub_topnav_hidden">
            <li class="capitalize"><%= link_to "/ Sites", '/work/sites', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Art", '/work/art', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Photography", '/work/photography', :class => "link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border active"  %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <div class="spacer_50"></div>
    <!-- CONTACT_PAGE CONTENT -->
    <div class="container contact_page">
      <h1 class="location bold uppercase">Contact Me:</h1>
      <div id="contact_img">
        <%= image_tag("http://images.fineartamerica.com/images-medium-large/seattle-skyline-in-black-and-white-twenty-two-north-gallery.jpg") %>
      </div>
      <div id="contact_page_content">
        <h4 class="email_big"><a href="mailto:jamesfhoover@gmail.com" class="link_blue blue">jamesfhoover@gmail.com</a></h4>
        <p class="paragraph">Thanks for checking out my portfolio. I would love to hear what you think. I am always improving and changing things around. The more viewpoints the better my work will become.<br><br>The best way to reach me is through email. <a href="mailto:jamesfhoover@gmail.com" class="link_blue blue">Send me a message</a>, even if it's just to say hi, and I will get back to you. (Constructive criticism is always welcome.)
        </p>
        <div class="spacer_50"></div>
        <div class="icon_tray center_horizontal_text">
          <h4>Follow me. Find me on social media.</h4>
          <div class="spacer_10"></div>
          <a href="http://www.facebook.com/"><div id="facebook_icon"></div></a>
          <a href="http://www.flickr.com/"><div id="flickr_icon"></div></a>
          <a href="http://www.instagram.com/"><div id="instagram_icon"></div></a>
          <a href="http://www.tumblr.com/"><div id="tumblr_icon"></div></a>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <h4>&copy;2015 - James Hoover</h4>
  </div>
</body>