<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="top-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <h4><img src="/assets/icons/logoCopy.png" class="logo-img">JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="contact-info push">
          <h4>James Hoover</h4>
          <h4>Web Design Portfolio<br></h4>
          <h4>
            <a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a>
          </h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul class="half-width first">
          <li><%= link_to "Home", '/', class: "nav-black" %></li>
          <li><%= link_to "Work\xC2\xA0/", '/work/sites', class: "nav-red" %>
            <ul class="sub-nav">
              <a href="/work/sites"><li class="capitalize">Projects</li></a>
              <a href="/work/art"><li class="capitalize">Art</li></a>
              <a href="/work/photography"><li class="capitalize">Photography</li></a>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue current" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <!-- CONTACT_PAGE CONTENT -->
    <div class="container contact_page">
      <h1 class="location bold border_bottom">Contact Me:</h1>
      <div class="contact_p">
        <h3 class="email_big"><a href="mailto:jamesfhoover@gmail.com" title="Email" class="prominent-blue">jamesfhoover@gmail.com</a></h3>
        <p class="paragraph">Thanks for checking out my portfolio! If you're interested in working with me, <a href="mailto:jamesfhoover@gmail.com" title="Email" class="blue">email me</a>, and we can talk.<br><br>
          On the other hand, if you just want to say 'hi', find out more about me, or dish out some opinions (constructive criticism is always welcome), the best way to do that is through email.<br><br>Seriously, my work and this site is an ongoing project. I would love to hear what you think. More viewpoints create a better product. 
        </p>
      </div>
      <div class="contact_img">
        <%= image_tag("photography/tulipsBW.jpg") %>
      </div>
      <div class="spacer_50"></div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <h4 class="center-align">Find me on social media</h4>
    <section class="icon-tray">
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>Github</a></li>
        <li><a href="http://www.facebook.com/" title="Facebook"><div class="facebook-icon"></div><br>Facebook</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
    <h6 class="copyright">&copy;2015 - James Hoover</h6>
  </footer>
</body>