<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- NAVBAR -->
    <nav class="topnav container">
      <!-- Logo/site info -->
      <a href="/" title="Home"class="logo_link"><h4 class="logo"><img src="/assets/icons/logoCopy.png" class="logo_img ">JamesHooverDesign.com</h4></a>
      <h4 id="site_info" class="subtext">James Hoover<br>UX/UI Design Portfolio<br><a href="mailto:jamesfhoover@gmail.com" title="Email" class="inline_link_blue">jamesfhoover@gmail.com</a></h4><br>
      <!-- Nav -->
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work\xC2\xA0/", '/work/sites', :class => "link_red red_border" %>
          <ul class="sub_topnav_hidden">
            <a href="/work/sites"><li class="capitalize">Websites</li></a><br>
            <a href="/work/art"><li class="capitalize">Art</li></a><br>
            <a href="/work/photography"><li class="capitalize">Photography</li></a>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border active"  %></li>
      </ul>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <!-- CONTACT_PAGE CONTENT -->
    <div class="container" id="contact_page">
      <h1 class="location bold border_bottom">Contact Me:</h1>
      <div id="contact_p">
        <h3 class="email_big"><a href="mailto:jamesfhoover@gmail.com" title="Email" class="blue">jamesfhoover@gmail.com</a></h3>
        <p class="paragraph">Thanks for checking out my portfolio! If you're interested in working with me, <a href="mailto:jamesfhoover@gmail.com" title="Email" class="inline_link_blue">email me</a>, and we can talk.<br><br>
          On the other hand, if you just want to say 'hi', find out more about me, or dish out some opinions (constructive criticism is always welcome), the best way to do that is through email.<br><br>Seriously, my work and this site is an ongoing project. I would love to hear what you think. More viewpoints create a better product. 
        </p>
      </div>
      <div id="contact_img">
        <%= image_tag("photography/tulipsBW.jpg") %>
      </div>
      <div class="spacer_50"></div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <h4>Find me on social media</h4>
    <div class="icon_tray">
      <div class="spacer_10"></div>
      <div class="spacer_10"></div>
      <a href="https://github.com/JamesHoover" title="GitHub"><div id="github_icon"></div><br>Github</a>
      <a href="http://www.facebook.com/" title="Facebook"><div id="facebook_icon"></div><br>Facebook</a>
      <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div id="flickr_icon"></div><br>Flickr</a>
      <a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div id="instagram_icon"></div><br>Instagram</a>
      <a href="mailto:jamesfhoover@gmail.com" title="Email"><div id="email_icon"></div><br>Email</a>
    </div>
    <h6 id="copy">&copy;2015 - James Hoover</h6>
  </div>
</body>