<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- NAVBAR -->
    <nav class="topnav full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/icons/logoCopy.png" class="logo_img">
          <h4>James Hoover</h4>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work\xC2\xA0/", '/work/sites', :class => "link_red red_border" %>
          <ul class="sub_topnav_hidden">
            <li class="capitalize"><%= link_to "/\xC2\xA0Sites", '/work/sites', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/\xC2\xA0Art", '/work/art', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/\xC2\xA0Photography", '/work/photography', :class => "link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border active"  %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <div class="spacer_50"></div>
    <!-- CONTACT_PAGE CONTENT -->
    <div class="container" id="contact_page">
      <h1 class="location bold">Contact Me:</h1>
      <div id="contact_p">
        <h4 class="email_big"><a href="mailto:jamesfhoover@gmail.com" title="Email" class="blue">jamesfhoover@gmail.com</a></h4>
        <p class="paragraph">Thanks for checking out my portfolio! If you're interested in working with me, <a href="mailto:jamesfhoover@gmail.com" title="Email" class="blue">let me know</a>, and we can talk.<br><br>
          On the other hand, if you just want to say 'hi', find out more about me, or dish out some opinions (constructive criticism is always welcome), the best way to do that is through email.<br><br>Seriously, my work and this site is an ongoing project. I would love to hear what you think. More viewpoints create a better product. 
        </p>
      </div>
      <div id="contact_img">
        <%= image_tag("photography/tulipsBW.jpg") %>
        <!--<%= image_tag("http://images.fineartamerica.com/images-medium-large/seattle-skyline-in-black-and-white-twenty-two-north-gallery.jpg") %> -->
      </div>
      <div class="spacer_50"></div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <div class="icon_tray">
      <h4>Find me on social media.</h4>
      <div class="spacer_10"></div>
      <div class="spacer_10"></div>
      <a href="http://www.facebook.com/" title="Facebook"><div id="facebook_icon"></div></a>
      <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div id="flickr_icon"></div></a>
      <a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div id="instagram_icon"></div></a>
      <a href="http://www.tumblr.com/" title="Tumblr"><div id="tumblr_icon"></div></a>
      <a href="mailto:jamesfhoover@gmail.com" title="Email"><div id="email_icon"></div></a>
    </div>
    <h4>&copy;2015 - James Hoover</h4>
  </div>
</body>