<body>
  <nav class="topnav container full_width">
    <a href="/" class="logo_link">
      <div class="logo">
        <img src="/assets/me.jpg" class="logo_img">
        <h3>James Hoover</h3>
        <h4 class="subtext">Design Porfolio</h4>
      </div>
    </a>
    <div class="nav_spacer_top"></div>
    <ul class="uppercase">
      <li><%= link_to "Home", '/', :class =>"link_home" %></li>
      <li><%= link_to "Work/", '/work/sites', :class =>"link_work" %>
        <ul class="sub_topnav_hidden">
          <li class="capitalize"><%= link_to "/Sites", '/work/sites', :class =>"link_work" %></li>
          <li class="capitalize"><%= link_to "/Art", '/work/art', :class =>"link_work" %></li>
          <li class="capitalize"><%= link_to "/Photograhy", '/work/photography', :class =>"link_work" %></li>
        </ul>
      </li>
      <li><%= link_to "About", '/about', :class => "link_about" %></li>
      <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_contact active"  %></li>
    </ul>
    <div class="nav_spacer_bottom"></div>
  </nav>
  <div class="topnav_clear"></div>
  <div class="spacer"></div>
  <div class="container contact_page">
    <h1 class="location bold uppercase">Contact Me:</h1>
    <div id="contact_page_content">
      <h4 class="email_big"><a href="mailto:jamesfhoover@gmail.com" class="link_contact blue">jamesfhoover@gmail.com</a></h4>
      <p>I am always looking for more design work.
        If you're interested in my work, have a question, or just want to say hi, please <a href="mailto:jamesfhoover@gmail.com" class="link_contact blue">get in touch via email.</a>
      </p>
    </div>
  </div>
  <div class="footer"><h1 id="copy">&copy;2015 - James Hoover</h1></div>
</body>