<!-- Header -->
	<section id="header">
		<a href="/#three" class="button icon small fa-chevron-left back">Back</a>
		<div class="inner">
			<h1>DealTapp</h1>
			<h3>Seattle's hottest dining, cafes,<br /> and entertainment at your fingertips.</h3>
		</div>
	</section>

<!-- One -->
	<section class="main style1">
		<div class="container">

 			<header class="major special">
				<h2>Creating the Logo</h2>
			</header>


			<section>
				<header>
					<h3><strong>Sketching Ideas</strong></h3>
				</header>
					<div class="row uniform 50%">
						<div class="8u 12u(medium)"><span class="image fit"><%= image_tag "dealtapp/sketchRough2.jpg" %></span></div>
					</div>
					<div class="8u 12u$(medium)">
						<p>Initial sketches to get ideas out of my head and onto paper. The logo was decided to be the letters 'DT' for DealTapp. I went for a style that had flow and gave a friendly vibe.</p>
					</div>
					<div class="row uniform 50%">
						<div class="8u 12u(medium)"><span class="image fit"><%= image_tag "dealtapp/sketchFinal.jpg" %></span></div>
					</div>
					<div class="8u 12u$(medium)">
						<p>Narrowing down the candidates. I felt these logos were simple, unique, and represented the brand.</p>
					</div>
			</section>


			<section>
				<header>
					<h3><strong>Digitizing</strong></h3>
				</header>
					<div class="8u 12u$(medium)">
						<p>I opened up Sketch and created these digital versions.</p>
					</div>
					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logoFlat.svg" %></span></div>
 						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo1FlatRed.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo1FlatLines.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo1FlatPixel.svg" %></span></div>	
					</div>
					<div class="8u 12u$(medium)">
						<p class="italic">Flat Design</p>
					</div>

					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logoFinal.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo1Round2.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo1Round3.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo1Round4.svg" %></span></div>
					</div>
					<div class="8u 12u$(medium)">
						<p class="italic">Rounded Background</p>
					</div>

					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo2.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo2Line.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo3.svg" %></span></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logo3Square.svg" %></span></div>
					</div>
					<div class="8u 12u$(medium)">
						<p class="italic">Alternative Logo Designs</p>
					</div>
			</section>

			<section>
				<header>
					<h3><strong>The Winner</strong></h3>
				</header>
			
					<div class="4u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logoFinal.svg" %></span></div>
					<div class="8u 12u$(medium)">
						<p>I then presented these to the DealTapp team and to our users. After good critique and comments we decided upon this logo. It was said to feel unique and friendly, and that it looks like a smiling face.</p>
					</div>
			</section>

			<section>
				<header>
					<h3><strong>Location Branding</strong></h3>
				</header>
			
					<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logoNeedleCircle.svg" %></span></div>
					<div class="8u 12u$(medium)">
						<p>DealTapp is exclusive to Seattle and I wanted the logo to communicate that. I integrated the Space Needle right into the 't' of the logo. This builds trust with the users and tells them DealTapp is local.</p>
						<p>With future expansion, the 't' can be utilized to represent landmarks unique to each city while still being recognizable as DealTapp's logo.</p>
					</div>
				<header>
					<h3><strong>Testing the Seattle logo</strong></h3>
				</header>
				<div class="8u 12u$(medium)">
					<p>The Space Needle in the logo did not test well. Users had trouble deciphering what the logo was trying to say. No one knew the needle represented a 'T'.</p>
					<p>I realized the original logo is not recognizable enough for users to make that jump.</p>
				</div>
			</section>

			<section>
				<header>
					<h3><strong>More experimentation</strong></h3>
				</header>
			
					<div class="4u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/logoRippleT.svg" %></span></div>
					<div class="8u 12u$(medium)">
						<p>I want the logo to encapsulate the brand and reinforce the idea behind it. Instead of a plain circle background I am playing with the idea of some motion. The faded rings feel as though the logo was 'tapped' and that will hint at the functionality of the app. </p>
					</div>
			</section>



		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>