<!-- Header -->
	<section id="header">
		<a href="/#three" class="button icon small fa-chevron-left back">Back</a>
		<div class="inner">
			<h1>DealTapp</h1>
			<h3>Seattle's hottest dining, cafes,<br /> and entertainment at your fingertips.</h3>
		</div>
	</section>

<!-- One -->
	<section class="main style1">
		<div class="container">
			<header class="major special">
				<h2>Background</h2>
			</header>
			<section>
				<header>
					<h3><strong>DealTapp</strong></h3>
					<p class="8u 12u$(medium)">An app that gives power to small and local businesses.</p>
				</header>
				<div class="8u 12u$(medium)">

				</div>
					<div class="8u 12u$(medium)">
						<p>I am the lead designer at DealTapp. I joined to bring value to the app by aligning the business and user goals. My responsibility ranges from shaping the user experience to making major decisions about the company's future. I have a hand in every aspect of DealTapp's success and I love it.</p>
					</div>
			</section>

 			<header class="major special">
				<h2>Finding the Usability Issues</h2>
			</header>
			<section>
				<header>
					<h3><strong>User Testing</strong></h3>
					<p class="8u 12u$(medium)">I did not design the original interface for DealTapp. The app has its fair share of usability issues and I intend to fix them.</p>
				</header>
				<div class="8u 12u$(medium)">
					<p>A startup like DealTapp requires a lean approach to design. To maximize budget and minimize redundancy, I started out by testing 5 users. This is recommended by <a href="https://www.nngroup.com/articles/why-you-only-need-to-test-with-5-users/" class="inline-link">Jakob Nielsen</a> and uncovers nearly all usability issues without blowing the budget.</p>
					<p>I sat users down with the DealTapp app. I had them run through tasks such as 'creating an account' and 'claiming a deal.' I also asked them open ended questions about the purpose of the app and what they thought of it. Testing users revealed many usability issues. Below is a list of the major ones.</p>
					<ul>
						<li>The overall purpose of the app was not clear enough.</li>
						<li>The location of the sign up/sign in feature was not intuitive.</li>
						<li>The process of claiming a deal had multiple hiccups.</li>
						<li>The menu was only accessible from the home page and used an unconventional icon.</li>
					</ul>
				</div>
				<div class="8u 12u$(medium)">
					<p>Now that I have the list of problems. I need to think of solutions.</p>
				</div>
			</section>

			<header class="major special">
				<h2>Creating Solutions</h2>
			</header>
			<section>
<!-- 				<p>After brainstorming and sketching ideas I jumped into Sketch to start modifying screens.</p>
 -->		<header>
					<h4><strong>Landing Page</strong></h4>
					<p>The first page users see when entering the app</p>
				</header>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/original01.png" %></span><caption class="italic">Before</caption></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup02.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">This page redesign addresses multiple issues. Creating an account was hidden under the profile button so I made it more obvious by placing it in the top right. It now tells users that they are not signed in and where they can do it.<br />I also prioritized specific info on the deals. I did this to reduce the cognitive load of finding the information that the user wants. Additionally, it helps communicate the purpose of the app.</p>
				</div>
				<header>
					<h4><strong>Item Page</strong></h4>
					<p>When you click on a deal you see additional information and have the ability to claim that deal.</p>
				</header>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/original02.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup03.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">For the item page, I kept the layout consistent with the landing page. This is to reduce confusion and prevent users from searching around for info.</p>
				</div>
				<header>
					<h4><strong>Menu</strong></h4>
					<p>Now accessible from all top level pages</p>
				</header>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/original05.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup07.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">Before, the menu had limited functionality compared to what users have come to expect. I added functionality so the menu can be a place to find anything the user needs. I also made it and the icon look more conventional. This further reduces confusion and cognitive load.</p>
				</div>
				<h4><strong>Creating an Account</strong></h4>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/original08.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup10.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">Gaining new users is important to Dealtapp as any user based business. Creating an account needs to be straightforward to gain users. I removed the main navigation because it distracts from that goal. I also added our logo because it's friendly and helps increase credibility.</p>
				</div>
				<!-- <h4><strong>Original Screens</strong></h4>
				<div class="box">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original02.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original03.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original04.png" %></span><caption>Search</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original05.png" %></span><caption>Menu</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original06.png" %></span><caption>Map</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original07.png" %></span><caption>Sign In</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original08.png" %></span><caption>Sign Up</caption></div>
					</div>
				</div>
				<h4><strong>My Solutions</strong></h4>
				<div class="box">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup03.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup04.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup06.png" %></span><caption>Search</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup07.png" %></span><caption>Menu</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup08.png" %></span><caption>Map</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup09.png" %></span><caption>Sign In</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup10.png" %></span><caption>Sign Up</caption></div>
					</div>
				</div> -->
				<h4><strong>Experimentation</strong></h4>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 4u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup11.png" %></span><caption>Landing</caption></div>
						<div class="3u 4u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup12.png" %></span><caption>Landing</caption></div>
						<div class="3u 4u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup13.png" %></span><caption>Menu</caption></div>
					</div>
				</div>
				<div class="8u$ 12u$(medium)">
					<p>A good researcher will use experimentation to validate or invalidate designs. I have been curious about the color of DealTapp so I changed the main color to red. Red might better suit the app's implusive nature.<br />
					I also used icons for navigation rather than words. Icons have their pros and cons over text so I am interested to see what works better for DealTapp.</p>
				</div>
			</section>

			<header class="major special">
				<h2>Result</h2>
			</header>
			<section>
				<h4><strong>Founder Meeting</strong></h4>
				<div class="8u 12u$(medium)">
					<p>I setup a meeting with the founders to discuss the results from the first round of testing. I told them what I found and showed them my proposed solutions. They were impressed and saw the value of my work. I convinced them to jump on board to allow more rounds of user testing. Now, I am  putting together a working prototype so we can test my solutions and further improve the experience.</p>
				</div>
			</section>

		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>