<!-- Header -->
	<section id="header">
		<a href="/#three" class="button icon small fa-chevron-left back">Back</a>
		<div class="inner">
			<h1>DealOwner</h1>
			<h3>DealTapp's counter part</h3>
		</div>
	</section>

<!-- One -->
	<section class="main style1">
		<div class="container">
			<header class="major special">
				<h2>Background</h2>
			</header>
			<section>
				<header>
					<h3><strong>DealOwner</strong></h3>
					<p class="8u 12u$(medium)">DealOwner is the other half of DealTapp. DealOwner is the app that business owners use. It gives them the ability to create and post deals that show up to users of DealTapp. They can also check the status of their deals and see who claimed them.</p>
				</header>
				<div class="8u 12u$(medium)">

				</div>
			</section>

 			<header class="major special">
				<h2>Getting Left Behind</h2>
			</header>

			<section>
					<div class="8u 12u$(medium)">
						<p>As DealTapp continues to be tested and revised DealOwner is often forgotten. DealOwner is not the 'fun' part of the process but it is just as vital to the success of DealTapp.</p>
					</div>
			</section>


			<section>
				<header>
					<h3><strong>Testing the original screens</strong></h3>
				</header>
					<div class="8u 12u$(medium)">
						<p>Just as I did with DealTapp, I sat down with our target users and let them run through some tests. I had users do things like create an account, update their information, post a deal, and check who claimed their deal.</p>
					</div>
			</section>

			<section>
				<header>
					<h3><strong>User testing results</strong></h3>
				</header>
					<div class="8u 12u$(medium)">
						<p>After some solid testing many of my assumptions were confirmed. There was some work to be done.</p>
						<p>Some of the main issues found were:</p>
					<ul>
						<li>The forms presented a high cognitive load. Asking for info in a confusing manner, and relying on light grey placeholder text.</li>
						<li>Once a user was signed in they were presented with a nearly blank page. No text, no instructions, no obvious next step.</li>
						<li>Button actions were not clear enough.</li>
						<li>Navigation to important pages was too difficult.</li>
					</ul>
					</div>
			</section>

			<header class="major special">
				<h2>Mocking up Solutions</h2>
			</header>
			<section>
				<header>
					<h4><strong>Sketching Ideas</strong></h4>
				</header>
					<p class="8u 12u$(medium)">Learning from mistakes I made on DealTapp, I set out to give quality of life updates and not redesign the entire app.</p>
					<div class="row uniform 50%">
						<div class="6u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/sketchTop.jpg" %></span></div>
						<div class="6u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/sketchBottom.jpg" %></span></div>
					</div>
					<p class="8u 12u$(medium)">Some rough sketches narrowing down ideas on how to fix the main issues.</p>
			</section>

			<header>
				<h4><strong>Narrowing down solutions</strong></h4>
			</header>
			<section>
				<div class="row uniform 50%">
					<div class="6u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/sketchTop.jpg" %></span></div>
					<div class="6u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/sketchBottom.jpg" %></span></div>
				</div>
				<p class="8u 12u$(medium)">High fidelity sketches. These were used in paper protoyping to validate fixes. Paper prototyping DealOwner was a challenge. The process is mostly filling out forms. I didn't want to make a ton of notecards to represent every form being filled in. I decided to have a 'master card' and cut little strips of notecard to place on top to represent a form being filled. This was more efficient. And saved trees.</p>
			</section>

			<header class="major special">
				<h2>Prototypes</h2>
				<p>Using my reseach and mockups to create prototypes</p>
			</header>
			<section>
				<header>
					<h4><strong>Landing Page</strong></h4>
					<p>The first page a user sees after logging in.</p>
				</header>
					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealwner/DO_landing.png" %></span><caption class="italic">Before</caption></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup02.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">The before screen was bad. A user is thrown into an empty state with no hints of what to do. 'What is this?' and 'What am I supposed to do?' were some standard questions I heard from users. As bad as it was, the solution was simple. Throw in some explaination and it made a world of difference. I also added text under the add icon, and added a navigation bar at the bottom.</p>
				<header>
					<h4><strong>Item Page</strong></h4>
					<p>When you click on a deal you see additional information and have the ability to claim that deal.</p>
				</header>
					<div class="row uniform 50%">
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/original02.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(medium)"><span class="image fit"><%= image_tag "dealtapp/mockup03.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">For the item page, I kept the layout consistent with the landing page. This is to reduce confusion and prevent users from searching around for info.</p>
			</section>


			<header class="major special">
				<h2>Results</h2>
			</header>
			<section>
				<h4><strong>Hello</strong></h4>
				<p class="8u 12u$(medium)">The new screens test much better among users and promise to make posting deals much less of a task. Unfortunately the changes have not yet been implemented. We are working with the developers to make this happen as soon as possible.</p>
			</section>

		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>