<!-- Header -->
	<section id="header">
		<a href="/#three" class="button icon small fa-chevron-left back">Back</a>
		<div class="inner">
			<h1>DealTapp</h1>
			<h3>Seattle's hottest dining, cafes,<br /> and entertainment at your fingertips.</h3>
		</div>
	</section>

<!-- One -->
	<section class="main style1">
		<div class="container">
			<header class="major special">
				<h2>Background</h2>
			</header>
			<section>
				<header>
					<h3><strong>DealTapp</strong></h3>
					<p>Connecting users with local businesses</p>
				</header>
				<div class="8u 12u$(medium)">
					<p>DealTapp is an app that lets users find the best deals at local restaurants, cafes, and entertainment venues. It gives power to small and local shops while making it easy for users to claim the offers.</p>
<!-- 					<p>At DealTapp we have found success connecting with numerous local businesses and gathering users. Our success has been featured in tech blogs and articles. <a href="http://www.dailyuw.com/features/article_9884de00-05e4-11e6-a8c4-7be60332f7c9.html">UW newspaper article.</a></p> -->
				</div>
<!-- 				<header>
					<h3><strong>Building a Company</strong></h3>
				</header> -->
					<div class="8u 12u$(medium)">
						<p>I am the sole designer at DealTapp. This puts a lot of responsibility on my shoulders. From shaping the user experience to discussing business goals with the founders, I have a hand in every aspect of the company's success.</p>
						<!-- As the only designer for DealTapp, I helped create and continue to revise our product.</p>
						<p>I have a huge influence over the direction of the app and I get to wear many hats. Aside from my responsibilites as a UX Designer, I discuss decisions with the founders, take photographs, test the software, meet with newspaper reporters, and interview potential employees.</p>
						<p>I love being a part of this enviroment. I am always able to work on something new and gain new experiences. Being a part of a startup has taught me many things. For example, how I must adapt my design methods and know where to make cuts to fit the resources of the company.</p> -->
					</div>
				<!-- <header>
					<h3><strong>The Design Culture</strong></h3>
					</header>
				<div class="row">
					<div class="8u$ 12u$(medium)">
						<p>At DealTapp research is done continually and on the fly. Here is an example.</p>
						<p>At DealTapp I want to build a culture that stresses good design. To do this I need to get the founders on board and show them the value of design. I first ran an initial round of user testing to gather concrete examples of usability problems. Then I created solutions to present to the founders.</p>
					</div>
				</div> -->
			</section>

			<section>

<!-- 
				<header>
					<h3><strong>Objectives</strong></h3>
					<p>Uncover the goals of DealTapp</p>
				</header>
				<div class="8u 12u$(medium)">
					<ul>
						<li>Support local businesses by increasing their visibility and driving business to them.</li>
						<li>Give businesses control over deals. (e.g. product count, discount amount, expiration date).</li>
						<li>Allow users to find deals, claim them with tokens, and redeem the deals.</li>
						<li>Allow users to purchase tokens.</li>
					</ul>
				</div>
				<header>
					<h3><strong>User Flows</strong></h3>
					<p>Uncover the goals of DealTapp</p>
				</header>
								<header>
					<h3><strong>IA</strong></h3>
					<p>Uncover the goals of DealTapp</p>
				</header>
			</section>
 --> 	
 			<header class="major special">
				<h2>An example of what I do</h2>
			</header>

			<header class="major">
				<h2>Research & Synthesis</h2>
<!-- 				<p>At DealTapp research is done continually and on the fly. Here is an example.</p>
 -->			</header>
			<section>
				<header>
					<h3><strong>User Testing</strong></h3>
				</header>
				<div class="8u 12u$(medium)">
					<p>To maximize budget and minimize redundancy, I started out by testing 5 users as recommended by <a href="https://www.nngroup.com/articles/why-you-only-need-to-test-with-5-users/" class="inline-link">Jakob Nielsen</a>.</p>
					<p>There were many small points of confusion while claiming a deal...</p>
					<ul>
						<li>The overall purpose of the app was not clear enough.</li>
						<li>The location of the sign up/sign in feature was not intuitive.</li>
						<li>What to do after claiming a deal.</li>
						<li>The menu icon was not conventional and only accessible from the home page.</li>
					</ul>
				</div>
			</section>

			<header class="major">
				<h2>Implementation</h2>
			</header>
			<section>

				<div class="8u 12u$(medium)">
					<p>After testing I created solutions to reduce friction.</p>
				</div>
				<h4><strong>Landing Page</strong></h4>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original01.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup02.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">I combined the bottom navigation bar into the top navigation and menu. This gives a more cohesive feel and allows access to the menu from any location. Additionally, I stressed specific information on the item card to make it clearer to the user.</p>
				</div>
				<h4><strong>Item Page</strong></h4>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original02.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup03.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">Here kept the layout the same as the card from the landing page so information is not moving around and confusing users.</p>
				</div>
				<h4><strong>Menu</strong></h4>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original05.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup07.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">I made the menu look more conventional and added more content and functionality.</p>
				</div>
				<h4><strong>Sign Up</strong></h4>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original08.png" %></span><caption>Before</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup10.png" %></span><caption>After</caption></div>
					</div>
					<p class="8u 12u$(medium)">I made switching between signing in and up more obvious, removed the distracting bottom navigation, and added our logo to increase credibility.</p>
				</div>
				<!-- <h4><strong>Original Screens</strong></h4>
				<div class="box">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original02.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original03.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original04.png" %></span><caption>Search</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original05.png" %></span><caption>Menu</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original06.png" %></span><caption>Map</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original07.png" %></span><caption>Sign In</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/original08.png" %></span><caption>Sign Up</caption></div>
					</div>
				</div>
				<h4><strong>My Solutions</strong></h4>
				<div class="box">
					<div class="row uniform 50%">
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup03.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup04.png" %></span><caption>Item</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup06.png" %></span><caption>Search</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup07.png" %></span><caption>Menu</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup08.png" %></span><caption>Map</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup09.png" %></span><caption>Sign In</caption></div>
						<div class="3u 6u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup10.png" %></span><caption>Sign Up</caption></div>
					</div>
				</div> -->
				<!-- <h4>Main areas of focus</h4>
				<div class="8u 12u$(medium)">
					<ul>
						<li>Updating the navigation bar</li>
						<li>Creating a dedicated page for signing up and logging in without distractions</li>
						<li>Making the discount, price, and number remaining more prominent</li>
						<li>Adding a full menu with more functionality</li>
						<li>Removing the Account page</li>
						<li>Combining the search and map features</li>
						<li>Adding recommendations to empty search screen</li>
					</ul>
				</div> -->
				<h4><strong>Bonus screens</strong></h4>
				<div class="">
					<div class="row uniform 50%">
						<div class="3u 4u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup11.png" %></span><caption>Menu</caption></div>
						<div class="3u 4u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup12.png" %></span><caption>Menu</caption></div>
						<div class="3u 4u(small)"><span class="image fit"><%= image_tag "dealtapp/mockup13.png" %></span><caption>Menu</caption></div>
					</div>
				</div>
				<div class="8u$ 12u$(medium)">
					<p>I toyed with the idea of making the main color red to fit with the app's impulsive nature. I also used icons for navigation rather than words. These will be used in user testing to validate (or invalidate) the current designs.</p>
				</div>
			</section>

			<header class="major">
				<h2>Result</h2>
			</header>
			<section>
				<h4><strong>Founder Meeting</strong></h4>
				<div class="8u 12u$(medium)">
					<p>I setup a meeting with the founders to discuss the results. They were impressed with my research findings and updated designs. I convinced them to jump on board and allow more rounds of user testing. I am currently putting together a working prototype so we can furter improve the interface.</p>
				</div>
			</section>

		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>