<!-- Header -->
	<section id="header">
		<a href="/#three" class="button icon small fa-chevron-left back">Back</a>
		<div class="inner">
			<h1>Freelance Work</h1>
			<h3>Designing solutions<br />for a diverse set of problems</h3>
		</div>
	</section>

<!-- One -->
	<section class="main style1">
		<div class="container">
			<header class="major special">
				<h2>Background</h2>
			</header>
			<section>
				<header>
					<h3><strong>Freelance Projects</strong></h3>
				</header>
				<div class="8u 12u$(medium)">
					<p>Freelancing lets me work on a variety of projects. I have gained tons of great experience because every project is different and requires a unique solution. I am never just going through the motions. Freelancing has also allowed me to develop my own best methods and forces me to take full responsibility and solve the hard problems.</p>
				</div>
			</section>
			<header class="major special">
				<h2>Projects</h2>
			</header>

			<section>
				<header>
					<h3><strong>Didricksen Construction</strong></h3>
					<p>A contractor and builder on Vashon Island</p>
					<h6><a href="http://didricksenconst.com/">didricksenconst.com</a></h6>
				</header>
				<div class="row">
					<div class="6u 12u$(medium)"><span class="image fit shadow"><%= image_tag "freelance/didricksen.png" %></span></div>
					<div class="6u 12u$(medium)">
						<h4>The Challenge:</h4>
        		<p>Build a site for a construction company that has been in business for 30 years with no previous site.</p>
        		<h4>The Users:</h4>
        		<p>Potential clients. People looking to build or remodel a home in Vashon or the greater Seattle area.</p>
        		<h4>The Process:</h4>
        		<p>Discussed expectations and goals with the client. Researched potential users and the competition. Created moodboards then sketched designs. Wireframed layout. Developed using HTML/CSS/JS.</p>
					</div>
				</div>

				<header>
					<h3><strong>Chris Willburn Fitness</strong></h3>
					<p>Personal Fitness Trainer</p>
					<h6><a href="http://chriswillburnfitness.com/">chriswillburnfitness.com</a></h6>
				</header>
				<div class="row">
					<div class="6u 12u$(medium)"><span class="image fit shadow"><%= image_tag "freelance/cwf.png" %></span></div>
					<div class="6u 12u$(medium)">
						<h4>The Challenge:</h4>
        		<p>Build a site for Chris to promote his personal fitness business.</p>
        		<h4>The Users:</h4>
        		<p>Potential clients. People looking for a personal trainer, nutritionist, or online fitness training.</p>
        		<h4>The Process:</h4>
        		<p>Talked with Chris about the main purpose of the site. Talked about his clients and their habits. Sketched out ideas turned to mockups, then reviewed those with Chris to create the final product.</p>
					</div>
				</div>

				<header>
					<h3><strong>Nemo Homes LLC</strong></h3>
					<p>Nemo Homes buys houses and property around Seattle, fixes them up, and sells them.</p>
				</header>
				<div class="row">
					<div class="6u 12u$(medium)"><span class="image fit shadow"><%= image_tag "freelance/nemo-home.png" %></span></div>
					<div class="6u 12u$(medium)">
						<h4>The Challenge:</h4>
        		<p>Build a low cost site to inform users about the company's current and past projects. Provide contact information.</p>
        		<h4>The Users:</h4>
        		<p>Potential and current clients and investors. People interested in the company and its projects.</p>
        		<h4>The Process:</h4>
        		<p>Met with client to discover needs and goals. Researched competition. Sketched then wireframed layout. Developed using HTML/CSS.</p>
					</div>
				</div>

				<header>
					<h3><strong>206 Tutoring</strong></h3>
					<p>Private tutoring agency in Seattle.</p>
				</header>
				<div class="row">
					<div class="6u 12u$(medium)"><span class="image fit shadow"><%= image_tag "freelance/206tutoring.png" %></span></div>
					<div class="6u 12u$(medium)">
						<h4>The Challenge:</h4>
		        <p>Refresh dated site to give a more professional look, ease of use, and ultimately bring in more clients.</p>
		        <h4>The Users:</h4>
		        <p>Parents and students looking to hire a private tutor in Seattle.</p>
		        <h4>The Process:</h4>
		        <p>Worked with senior designer to create high-fidelity mockups. Developed with HTML, CSS, and Javascript.</p>
					</div>
				</div>

				<header>
					<h3><strong>Andre Legacy</strong></h3>
					<p>Musician from Los Angeles</p>
				</header>
				<div class="row">
					<div class="6u 12u$(medium)"><span class="image fit shadow"><%= image_tag "freelance/legacy.png" %></span></div>
					<div class="6u 12u$(medium)">
						<h4>The Challenge:</h4>
        		<p>Retire dated wordpress site and build a more professional and clean site to spread music and bring in purchases.</p>
		        <h4>The Users:</h4>
        		<p>Current/potential fans of Andre Legacy.</p>
		        <h4>The Process:</h4>
        		<p>Gathered info from client. Researched market. Sketched designs and turned into wireframes. Built site with HTML and CSS.</p>
					</div>
				</div>

				<header>
					<h3><strong>DTLA</strong></h3>
					<p>Denimocracy USA</p>
				</header>
				<div class="row">
					<div class="6u 12u$(medium)"><span class="image fit shadow"><%= image_tag "freelance/dtla.jpg" %></span></div>
					<div class="6u 12u$(medium)">
						<h4>The Challenge:</h4>
        		<p>Create an appealing and stylish print for demin gift bags in the logo 'DTLA' (Downtown Los Angeles). Simple shading and no color to keep printing costs down.</p>
		        <h4>The Users:</h4>
        		<p>Celebrities, buyers, media, etc. associated with Denimocracy USA.</p>
		        <h4>The Process:</h4>
        		<p>Worked with client to get general concept, constraints, and pieces for inspiration. Sketched up designs. Chose best design and hand drew in Illustrator.</p>
					</div>
				</div>

				<header>
					<h3><strong>RDNC</strong></h3>
					<p>Richmond District Neighborhood Center</p>
				</header>
				<div class="row">
					<div class="3u 6u(medium)"><span class="image fit shadow"><%= image_tag "freelance/rdnc01.png" %></span></div>
					<div class="3u 6u(medium)"><span class="image fit shadow"><%= image_tag "freelance/rdnc02.jpeg" %></span></div>
					<div class="6u 12u$(medium)">
						<h4>The Challenge:</h4>
       		  <p>Create a 'save the date' and formal invitation to be sent to guests of the 35th annual RDNC fundraising dinner.</p>
		        <h4>The Users:</h4>
        		<p>Employees, friends, and family invited to the RDNC event.</p>
		        <h4>The Process:</h4>
        		<p>Gathered information on RDNC, the event, and style constraints. Worked with client to develop designs. Created 'Save the Date' with photoshop. Consulted/guided client for creation of the formal invitation.</p>
					</div>
				</div>

			</section>
		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>