<!-- Header -->
	<section id="header">
		<div class="inner">
			<h1>GOVote</h1>
			<h3>Voting for the Digital Age.</h3>
		</div>
	</section>

<!-- Five -->
	<section id="five" class="main style1">
		<div class="container">
			<header class="major special">
				<h2>Background</h2>
			</header>
			<section>
				<header>
					<h3><strong>General Assembly Final Project</strong></h3>
					<p>Putting all my skills to the test</p>
				</header>
				<div class="8u$ 12u$(medium)">
					<p>For this project I set out to redesign the U.S. voting process with the goal to increase voter turnout.</p>
					<p>I chose this topic because I believe that goverment and democracy is one of the biggest design problems we face today. I originally wanted to redesign our form of democracy but soon decided that would be a task too grand for this project. I settled with the voting system because it is outdated and unliked by a large population. I believed that there was a better answer.</p>
					<p>I spent 10 weeks working on this project. It shows my full design process from research to prototype.</p>
				</div>
			</section>

			<header class="major special">
				<h2>Research</h2>
			</header>
			<section>
				<header>
					<h3><strong>Problem</strong></h3>
					<p>Young voters (age 18-29) have the lowest turnout rate.</p>
				</header>
				<div class="8u$ 12u$(medium)">
					<p>Young adult voters need a way to vote efficiently and effectively because the current voting system is too complex for them to invest their time.</p>
				</div>
				<header>
					<h3><strong>Insights</strong></h3>
					<p>Interviewing users gave me insights as to why they don't vote</p>
				</header>
				<div class="row">
					<div class="8u$ 12u$(medium)">
						<ul class="alt">
							<li>Voting is not effective. It's too much work for the amount of impact that a vote carries.</li>
							<li>Politics is overwhelming. The abundance of information causes paralysis, keeping users from staying informed.</li>
							<li>The process is confusing. From primaries and caucuses to conventions and elections, there are too many events to follow and know where participation is required.</li>
						</ul>
					</div>
				</div>

				<header>
					<h3><strong>Objectives</strong></h3>
					<p>Create way for the youth to vote in today's world</p>
				</header>
				<div class="row">
					<div class="8u$ 12u$(medium)">
						<ul class="alt">
							<li>Allow the user to vote for the candidate of their choice.</li>
							<li>Allow for the user to become well informed on the current issues and candidates.</li>
							<li>Allow the user to view important events regarding elections.</li>
							<li>Allow the user to register to vote.</li>
						</ul>
					</div>
				</div>
				<header>
					<h3><strong>Personas</strong></h3>
				</header>
				<div class="row">
					<div class="3u 12u$(small)">
						<h5>Sam</h5>
						<span class="image fit"><%= image_tag "govote/persona_sam.png" %></span>
						<blockquote>Voting stresses me out.</blockquote>
					</div>
					<div class="3u 12u$(small)">
						<h5>Tim</h5>
						<span class="image fit"><%= image_tag "govote/persona_tim.png" %></span>
						<blockquote>I'm excited to vote for the first time but I don't really know where to start.</blockquote>
					</div>
					<div class="3u 12u$(small)">
						<h5>Fred</h5>
						<span class="image fit"><%= image_tag "govote/persona_fred.png" %></span>
						<blockquote>Voting is pointless. I rather spend my time elsewhere.</blockquote>
					</div>
					<div class="3u 12u$(small)">
						<h5>Dan</h5>
						<span class="image fit"><%= image_tag "govote/persona_dan.png" %></span>
						<blockquote>I'm losing faith in the system.</blockquote>
					</div>
				</div>
				<header>
					<h3><strong>Competitive Analysis</strong></h3>
				</header>
				<div class="box alt">
					<div class="row uniform 50%">
						<div class="4u 12u$(small)"><span class="image fit"><%= image_tag "govote/comp_analysis.png" %></span></div>
						<div class="8u 12u$(small)"><p>Through competitive analysis I saw an electronic solution was necessary. The only way to register or cast a ballot is through the government's process. This requires the user to travel, fill out government designed forms, and mail documents. An electronic solution will end traveling, mailing, and static forms.</p></div>
					</div>
				</div>
			</section>

			<header class="major special">
				<h2>Plan</h2>
			</header>
			<section>
				<header>
					<h3><strong>User Flow</strong></h3>
				</header>
				<div class="box alt">
					<div class="row uniform 50%">
						<div class="12u"><span class="image fit"><%= image_tag "govote/user_flow.png" %></span></div>
					</div>
				</div>
				<div class="8u$ 12u$(medium)">
					<p>This flow needs to be simple to get users onboard. The problem is it requires a lot of personal information. I first tried to design an easy to use form but later developed a better method. My solution is to have the user submit a picture of their photo ID. This inputs all the necessary information and eliminates the form. The only info a user has to input is a picture and their email.</p>
				</div>
				<header>
					<h3><strong>Information Architecture</strong></h3>
				</header>
				<div class="box alt">
					<div class="row uniform 50%">
						<div class="12u"><span class="image fit"><%= image_tag "govote/IA.png" %></span></div>
					</div>
				</div>
				<div class="8u$ 12u$(medium)">
					<p>I found three main navigation elements worked best. Three elements does not overwhelm users with information and functionality. The names were chosen because they communicate their role and are straightforward. For example, I used 'More Info' instead of 'Research' because I saw in user testing that 'Research' caused a high cognitive load.</p>
				</div>

				<h3><strong>Sketches</strong></h3>
				<h5>The <strong>first</strong> round</h5>
				<div class="box">
					<div class="row uniform 50%">
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/first_sketch01.jpg" %></span><caption>Menu</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/first_sketch02.jpg" %></span><caption>Ballot</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/first_sketch03.jpg" %></span><caption>Ballot (Expanded)</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/first_sketch04.jpg" %></span><caption>Ballot</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/first_sketch05.jpg" %></span><caption>Research</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/first_sketch06.jpg" %></span><caption>Dates</caption></div>
					</div>
				</div>
				<h5>The <strong>final</strong> round</h5>
				<div class="box">
					<div class="row uniform 50%">
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/sketch01.png" %></span><caption>Ballot</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/sketch02.png" %></span><caption>Ballot Item</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/sketch03.png" %></span><caption>Extra Info</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/sketch04.png" %></span><caption>Research</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/sketch05.png" %></span><caption>Research</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/sketch06.png" %></span><caption>Dates</caption></div>
					</div>
				</div>
				<div class="8u$ 12u$(medium)">
					<p>The decision to be a mobile app was made because mobile is the highest usage device for the target audience. Mobile also allows the app to use features like the camera, and later on, the fingerprint scanner.</p>
					<p>I chose Google's Material Design because of its high usability and professional feel. It also allows the use of familiar conventions. These aspects help build the user's trust, increase usability, and improve the experience.</p>
				</div>
				<h3><strong>Wireframes</strong></h3>
				<div class="box">
					<div class="row uniform 50%">
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/wireframe01.png" %></span><caption>Ballot</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/wireframe02.png" %></span><caption>Ballot Item</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/wireframe03.png" %></span><caption>Learn</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/wireframe04.png" %></span><caption>Learn (Expanded)</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/wireframe05.png" %></span><caption>Learn Item</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/wireframe06.png" %></span><caption>Events</caption></div>
					</div>
				</div>
					<p>I changed 'Research' to 'Learn' because through user testing I found 'Research' presented too much of a cognitive load.</p>
			</section>

			<section>
				<header class="major special">
					<h2>Prototype</h2>
				</header>
				<div class="box">
					<div class="row uniform 50%">
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype01.png" %></span><caption>Ballot</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype02.png" %></span><caption>Ballot Item</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype03.png" %></span><caption>Learn</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype04.png" %></span><caption>Learn (Expanded)</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype05.png" %></span><caption>Learn Item</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype06.png" %></span><caption>Events</caption></div>
					</div>
					<div class="row uniform 50%">
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype07.png" %></span><caption>Landing</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype08.png" %></span><caption>On Boarding</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype09.png" %></span><caption>Ballot Item</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype10.png" %></span><caption>Voted!</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype11.png" %></span><caption>Ballot (Complete)</caption></div>
						<div class="2u 6u(small)"><span class="image fit shadow"><%= image_tag "govote/prototype12.png" %></span><caption>Empty State</caption></div>
					</div>
				</div>
			</section>
			<div class="8u$ 12u$(medium)">
				<p>I designed the prototype to present an impactful and patriotic feel. It is clean, functionality is obvious, and information is easy to understand. Users trust the app based on initial judgments and are enticed to explore.</p>
			</div>
			<p><a href="https://invis.io/A867O8YU6">Explore the full clickable prototype over at Invision.</a></p>
		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="#" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="#" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>