<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- NAVBAR -->
    <nav class="topnav container">
      <!-- Logo/site info -->
      <a href="/" title="Home"class="logo_link"><h4 class="logo"><img src="/assets/icons/logoCopy.png" class="logo_img">JamesHooverDesign.com</h4></a>
      <h4 id="site_info" class="subtext">James Hoover<br>UX/UI Design Portfolio<br><a href="mailto:jamesfhoover@gmail.com" title="Email">jamesfhoover@gmail.com</a></h4><br>
      <!-- Nav -->
      <ul class="uppercase">
        <li><%= link_to "Home", '/', class: "black_border active" %></li>
        <li><%= link_to "Work\xC2\xA0/", '/work/sites', class: "link_red red_border" %>
          <ul class="sub_topnav_hidden">
            <li class="capitalize"><%= link_to "Websites", '/work/sites', class: "link_red" %></li><br>
            <li class="capitalize"><%= link_to "Art", '/work/art', class: "link_red" %></li><br>
            <li class="capitalize"><%= link_to "Photography", '/work/photography', class: "link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', class: "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', class: "link_blue blue_border" %></li>
      </ul>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <!-- HOME_PAGE CONTENT -->
    <div class="container">
      <div id="home_page">
        <div id="home_page_content">
          <h1 class="uppercase">James Hoover</h1>
          <h2 class="home_subtitle">UX/UI Design Porfolio</h2>
          <h4 class="home_subtitle">Designer / Engineer / Artist</h4>
        </div>

        <div id="home_navicons">
          <a class="navicon_link" href="/work/sites" title="Work"><div id="work_bkgrd" class="home_navicons_content"><h3 class="bottom_left">My Work</h3></div></a>
          <a class="navicon_link" href="/about" title="About"><div id="about_bkgrd" class="home_navicons_content"><h3 class="bottom_left">About Me</h3></div></a>
          <a class="navicon_link" href="/contact" title="Contact"><div id="contact_bkgrd" class="home_navicons_content"><h3 class="bottom_left">Contact Me</h3></div></a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- FOOTER -->
  <div class="spacer_25"></div>
  <div class="footer push">
    <h4 id="copy">&copy;2015 - James Hoover</h4>
  </div>
</body>