<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover | Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black current" %></li>
          <li class="has-sub-nav"><%= link_to "Work", '/work/projects', class: "nav-red" %>
            <ul class="sub-site-nav-hidden">
              <li><%= link_to "Projects", '/work/projects', class: "nav-red " %></li>
              <li><%= link_to "Art", '/work/art', class: "nav-red" %></li>
              <li><%= link_to "Photography", '/work/photography', class: "nav-red" %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- SECTION home-content -->
    <section class="home-content">
      <article class="home-info row">
        <h1>James Hoover</h1>
        <h2>Web Design Porfolio</h2>
      </article>
      <section class="navicon-section row">
        <article class="navicon-block one-third first">
          <a class="navicon-link" href="/work/projects" title="Work">
            <div class="work-bkgrd navicon-content grayscale">
              <h3>My Work</h3>
            </div>
          </a>
        </article>
        <article class="navicon-block one-third">
          <a class="navicon-link" href="/about" title="About">
            <div class="about-bkgrd navicon-content grayscale">
              <h3>About Me</h3>
            </div>
          </a>
        </article>
        <article class="navicon-block one-third">
          <a class="navicon-link" href="/contact" title="Contact">
            <div class="contact-bkgrd navicon-content grayscale">
              <h3>Contact Me</h3>
            </div>
          </a>
        </article>
      </section>
    </section>
  </div>
  <!-- FOOTER -->
  <footer class="rowfooter foot-push">
    <h6 class="copyright">Designed and built by James - &copy; 2015</h6>
  </footer>
</body>
