<!-- Header -->
	<section id="header">
		<div class="inner">
			<span class="icon major"><%= image_tag "james_sketch.svg" %></span>
			<h1>Hey, I'm <strong>James</strong>! <br />
			Welcome to my <strong>design portfolio.</strong></h1>
		</div>
	</section>

<!-- One -->
	<section id="one" class="main style1">
		<div class="container">
			<div class="row 150%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>I am a User Experience Designer</h2>
					</header>
					<p>My skill set focuses on User Research & Analytics, Information Architecture, and Interaction Design. I excel at analyzing data, identifying design issues, and building functional & usable products.</p>
				</div>
				<div class="6u$ 12u$(medium) important(medium)">
					<span class="image fit"><%= image_tag "james2.png" %></span>
				</div>
			</div>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="main style2">
		<div class="container">
			<div class="row 150%">
				<div class="6u 12u$(medium)">
					<ul class="major-icons">
						<li><span class="icon style1 major fa-desktop"></span></li>
						<li><span class="icon style2 major fa-pencil-square-o"></span></li>
						<li><span class="icon style3 major fa-camera"></span></li>
						<li><span class="icon style4 major fa-graduation-cap"></span></li>
						<li><span class="icon style5 major fa-code"></span></li>
						<li><span class="icon style6 major fa-cog"></span></li>
					</ul>
				</div>
				<div class="6u$ 12u$(medium)">
					<header class="major">
						<h2>A little<br />
						about me</h2>
					</header>
					<p>During my time as a designer I have worked with many local and California based clients. I helped <strong>build a startup</strong> and create their product, a mobile app called <a href="projects/dealtapp">DealTapp</a>. I have experience designing in <strong>mobile and web</strong> platforms as well as logo design, physical product design, 3D modeling, and graphic design.</p>

					<p>Born and raised in Seattle, I've always enjoyed drawing, photography, and woodworking. I have a certification in <strong>User Experience Design</strong> from General Assembly, and a BS degree in <strong>Computer Science</strong>, supplemented with design and drawing courses, from Gonzaga University.</p>

					<p>Aside from my design experience I have an additional three years experience as a <strong>software developer</strong>. Working in lower level systems all the way up to the front end.</p>

					<p>My tools of choice are: Sketch, Illustrator, Photoshop, Invision, HTML, CSS, JavaScript, Ruby on Rails, GIT, and Google Analytics.</p>

				</div>
			</div>
		</div>
	</section>

<!-- Three -->
	<section id="three" class="main style1 special">
		<div class="container">
			<header class="major">
				<h2>My recent work</h2>
			</header>
			<p>Projects I have recently finished or currently working on.</p>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<span class="image fit"><a href="projects/dealtapp"><%= image_tag "dealtapp.png" %></a></span>
					<h3>DealTapp</h3>
					<p>Connecting users with local businesses. Helped <strong>start a company</strong> and build an app that lets you discover the hottest deals in Seattle.</p>
					<ul class="actions">
						<li><a href="projects/dealtapp" class="button">View Details</a></li>
					</ul>
				</div>
				<div class="4u 12u$(medium)">
					<span class="image fit"><a href="projects/govote"><%= image_tag "flag_sky.jpeg" %></a></span>
					<h3>GOVote</h3>
					<p>Voting for the digital age. This is my final project from <strong>General Assembly</strong>. It demonstates my full design process.</p>
					<ul class="actions">
						<li><a href="projects/govote" class="button">View Details</a></li>
					</ul>
				</div>
				<div class="4u$ 12u$(medium)">
					<span class="image fit"><a href="projects/freelance"><%= image_tag "books.jpg" %></a></span>
					<h3>Freelance work</h3>
					<p>A variety of projects I have completed as a <strong>freelance designer</strong>.</p>
					<ul class="actions">
						<li><a href="projects/freelance" class="button">View Details</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

<!-- Four -->
	<section id="four" class="main style2 special">
		<div class="container">
			<header class="major">
				<h2>Let's get connected!</h2>
			</header>
			<h3>Email me</h3>
			<ul class="actions uniform">
				<li><a href="mailto:jamesfhoover@gmail.com" class="button special icon fa-envelope">jamesfhoover@gmail.com</a></li>
				<p>jamesfhoover@gmail.com</p>
			</ul>			
			<p>or</p>
			<ul class="actions uniform">
				<li><a href="/assets/JamesHooverResume.pdf" class="button icon fa-eye">View Resumé</a></li>
				<li><a href="/assets/JamesHooverResume.pdf" class="button icon fa-download" download>Download Resumé</a></li>
			</ul>
		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>