<!-- Header -->
	<section id="header">
		<div class="inner">
			<span class="icon major"><%= image_tag "james_sketch.svg" %></span>
			<h1>Hey, I'm <strong>James</strong>!</span></h1>
			<h1>Welcome to my <strong>design portfolio.</strong></h1>
		</div>
	</section>

<!-- One -->
	<section id="one" class="main style1">
		<div class="container">
			<div class="row 150%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>I am a User Experience Designer</h2>
					</header>
<!-- 					<p>My skill set focuses on User Research, Interaction Design, and Visual Design. I excel at (and have fun) solving design problems, analyzing user data, and building valuable and beautiful products.</p> -->
					<p>After three years as a software developer I learned I'm more into the design side of things. Specifically <strong>UX design</strong>. So I made the jump. Currently, I live in Seattle building a startup called DealTapp. My skill set focuses on User Research, Interaction Design, and Visual Design.</p>
					<p>Read on for more about me or <a href="#three" class="scrolly">jump to my projects</a>. And feel free to <a href="#footer" class="scrolly">connect with me!</a></p>
				</div>
				<div class="6u$ 12u$(medium) important(medium)">
					<span class="image fit"><%= image_tag "james2.png" %></span>
				</div>
			</div>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="main style2">
		<div class="container">
			<div class="row 150%">
				<div class="6u 12u$(medium) no-mobile">
<!-- 					<ul class="major-icons">
						<li><span class="icon style1 major fa-desktop"></span></li>
						<li><span class="icon style2 major fa-pencil-square-o"></span></li>
						<li><span class="icon style3 major fa-camera"></span></li>
						<li><span class="icon style4 major fa-graduation-cap"></span></li>
						<li><span class="icon style5 major fa-code"></span></li>
						<li><span class="icon style6 major fa-cog"></span></li>
					</ul> -->
<!--  					<span class="image kinda"> </span>
 --> 				</div>
				<div class="6u$ 12u$(medium) black-back">
					<header class="major">
						<h2>A little more<br />
						about me</h2>
					</header>
					<p><!-- Currently, I am <strong>building a startup</strong> called DealTapp. --> I am the lead UX designer at DealTapp. I get to wear many hats which is a great environment for me to show my value. I build solutions, validate them with users, and learn from the results. My first design cycle led to a 30% increase in user conversion.</p>
		<!--  <p>At DealTapp my design solutions have led to a 30% increase in conversion rate and a monthly user growth rate of 20%. Since being at DealTapp we have seen a total install monthly growth rate of 20% and an account conversionI am a natural designer. My hobbies include photography, drawing, reading/research, documentaries, woodworking...</p> -->
					<p>Being a designer is where I thrive. I've become more open minded, empathetic, and adaptable. I welcome mistakes. They are an opportunity to learn and refine a solution.</p>
<!-- 					<p>I love to design. But if I'm not build solutions for people. I believe all tools can be a seemless part of life. Tools are meant to eliminate the barrier between ideas and creation.</p> -->
					<p>If I'm not designing you'll find me reading articles on Medium, discussing philosophy or physics with my friends over Xbox Live, or snapping pics around the city.</p>

<!-- 					<p>My design experience includes mobile and web apps, physical product design, logo design, print design, 3D modeling, and photography.</p>
 -->

<!-- 					<p>As supplement to my experience I obtained a certification in <strong>User Experience Design</strong> from General Assembly. I also have a BS degree in <strong>Computer Science</strong>, with additional courses in design and psychology, from Gonzaga University.</p>
 -->
<!-- 					<p>My tools of choice are: Sketch, Framer, Illustrator, Photoshop, Invision, HTML, CSS, JavaScript, Ruby on Rails, GIT, and Google Analytics.</p>
 -->			<ul class="actions uniform">
						<h5>Check out my resume for more formal information</h5>
						<li><a href="/assets/JamesHooverResume.pdf" class="button icon fa-eye">View Resume</a></li>
						<li><a href="/assets/JamesHooverResume.pdf" class="button icon fa-download" download>Download Resume</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

<!-- Three -->
	<section id="three" class="main style1 special">
		<div class="container">
			<header class="major">
				<h2>My recent work</h2>
			</header>
			<div class="row 150% pad-bot">
				<div class="6u 12u$(medium)">
					<span class="image fit"><a href="projects/dealtapp"><%= image_tag "dealtapp.png" %></a></span>
					<h3>DealTapp</h3>
					<p>User testing to solve usability issues.</p>
					<ul class="actions">
						<li><a href="projects/dealtapp" class="button">View Details</a></li>
					</ul>
				</div>
				<div class="6u 12u$(medium)">
					<span class="image fit"><a href="projects/govote"><%= image_tag "flag_sky.png" %></a></span>
					<h3>GOVote</h3>
					<p>This project demonstates my full design process.</p>
					<ul class="actions">
						<li><a href="projects/govote" class="button">View Details</a></li>
					</ul>
				</div>
			</div>
			<div class="row 150%">
					<div class="6u 12u$(medium)">
					<span class="image fit"><a href="projects/dealtapp_logo"><%= image_tag "dealtapp/logoFinalBack.svg" %></a></span>
					<h3>DealTapp Logo Design</h3>
					<ul class="actions">
						<li><a href="projects/dealtapp_logo" class="button">View Details</a></li>
					</ul>
				</div>
				<div class="6u 12u$(medium)">
					<span class="image fit"><a href="projects/freelance"><%= image_tag "books.png" %></a></span>
					<h3>Freelance work</h3>
					<p>A variety of projects I have completed as a freelance designer.</p>
					<ul class="actions">
						<li><a href="projects/freelance" class="button">View Projects</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

<!-- Four -->
<!-- 	<section id="four" class="main style2 special">
		<div class="container">
			<header class="major">
				<h2>Let's get connected!</h2>
			</header>
			<ul class="actions uniform">
				<li><a href="mailto:jamesfhoover@gmail.com" class="button special icon fa-envelope">jamesfhoover@gmail.com</a></li>
				<p>jamesfhoover@gmail.com</p>
			</ul>			
			<h3>Resumé</h3>
			<ul class="actions uniform">
				<li><a href="/assets/JamesHooverResume.pdf" class="button icon fa-eye">View Resumé</a></li>
				<li><a href="/assets/JamesHooverResume.pdf" class="button icon fa-download" download>Download Resumé</a></li>
			</ul>
		</div>
	</section> -->

<!-- Footer -->
	<section id="footer">
		<div class="black-back">
		<div class="container">
			<header class="major">
				<h2>Feel free to connect</h2>
			</header>
			<ul class="actions uniform">
				<li class="mailbutton"><a href="mailto:jamesfhoover@gmail.com" class="button special icon fa-envelope">jamesfhoover@gmail.com</a></li>
		</div>
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
<!-- 			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
 -->		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
		</div>
	</section>