<body>
	<a name="top"></a>
	<header class="welcome">
		<nav class="row">
			<ul class="paint-box">
				<li class="site-url one-half first"><a href="/">jameshooverdesign.com</a></li>
					<%= image_tag "blackSplat.svg", class: "paint-splat"%>
				<div class="one-half nav-link-list">
					<li><a href="#about" class="nav-link">About</a></li>
					<li><a href="#projects" class="nav-link">Projects</a></li>
					<li><a href="#contact" class="nav-link">Contact</a></li>
				</div>
			</ul>
		</nav>
		<div class="row">
			<div class='one-half first'>
				<div class="welcome-img">
					<%= image_tag "james_selfie_sketch.svg" %>
				</div>
			</div>
			<div class='one-half welcome-message'>
				<h2>Hey! I'm James, a <span class="bold">UX Designer</span> working in Seattle. I focus on building <span class="bold">functional and usable things.</span> Then making them <span class="bold">pretty.</span></h2>
			</div>
		</div>
	</header>
	<!-- START SECTION - $ABOUT -->
	<a name="about"></a>
	<section class="about full-row">
		<h1 class="section-title">Who am I?</h1>
		<%= image_tag "about/james-tree-color4.svg", class: "about-img" %>
		<div class="row">
			<h2>How I got here.</h2>
			<p>After spending three years as a software developer I built and saw many projects that were designed without the <span class="bold">end user in mind</span>. Three years of witnessing the results and I had enough. Searching for answers, I picked up my first book in <span class="bold">UX design</span> and fell in love with the industry. I shortly left the software development world to pursue a career in UX design. A place where I can <span class="bold">design</span> (and build) products centered around the user.</p>
			<p>I've spent the past year doing just that. <span class="bold">Designing, studying, and building</span> great products for the user. I've found success building things from the ground up. By this I mean focusing on making the product <span class="bold">functional and usable</span> for the user before making it <span class="bold">pretty.</span></p>
		</div>
	</section>
	<!-- START SECTION - $PROJECTS -->
	<a name="projects"></a>
	<section class="projects full-row">
		<h1 class="section-title">What have I made?</h1>
		<div class="row">
			<h2>Some selections of my recent work</h2>
			<div class="project-thumb one-half first">
 				<a href="projects/govote" class="project-link background">
 					<%= image_tag "projects/govote/flag_sky.jpeg", class: "project-img",  title: "GOVote" %>
 					<h4 class="project-text">GOVote</h4>
 					<%= image_tag "yellowSplat.svg", class: "paint-splat-projects"%>
 				</a>
			</div>
			<div class="project-thumb one-half">
				<a href="projects/freelance" class="project-link background">
 					<%= image_tag "projects/books.jpg", class: "project-img",  title: "Freelance Work" %>
 					<h5 class="project-text">Freelance Work</h5>
 					<%= image_tag "yellowSplat.svg", class: "paint-splat-projects"%>
 				</a>
			</div>
			<div class="project-thumb one-half first">
 				<a href="projects/dealtapp" class="project-link background">
					<%= image_tag "projects/dealtapp.png", class: "project-img back-fill" %>
  				<h4 class="project-text">DealTapp</h4>
  				<%= image_tag "yellowSplat.svg", class: "paint-splat-projects"%>
  			</a>
			</div>
			<div class="project-thumb one-half">
				<a href="projects/privacy" class="project-link background">
 					<%= image_tag "projects/ruler.jpeg", class: "project-img",  title: "Privacy App" %>
 					<h4 class="project-text">Privacy App</h4>
 					<%= image_tag "yellowSplat.svg", class: "paint-splat-projects"%>
			</div>
		</div>
		<a name="photography"></a>
		<div class="row">
			<h2>Photography</h2>
					<div class="project-thumb one-third first photography">
						<%= link_to image_tag("photography/photo19.jpg"), image_path("photography/photo19.jpg"), class: "photo-img-link",  title: "Seattle" %>
					</div>
					<div class="project-thumb one-third photography">
						<%= link_to image_tag("photography/photo28.jpg"), image_path("photography/photo28.jpg"), class: "photo-img-link",  title: "Hawaii" %>
					</div>
					<div class="project-thumb one-third photography">
						<%= link_to image_tag("photography/photo16.jpg"), image_path("photography/photo16.jpg"), class: "photo-img-link",  title: "Fireworks" %>
					</div>
			<h6 class="first"><a href="photography" class="inline-link">Check out more photos</a></h6>
		</div>
<!-- 		<a name="art"></a>
		<div class="row">
			<h2>Artwork</h2>
			<div class="project-thumb one-half first">
			</div>
			<div class="project-thumb one-half">
			</div>
		</div> -->
	</section>
	<%= render template: "pages/contact" %>
	<script type="text/javascript">
    $('.photography').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery: {
        // options for gallery
        enabled: true
      }
    });
  </script>
</body>