<body>
	<a name="top"></a>
	<header class="welcome gradient">
		<nav class="row">
			<ul>
				<li class="site-url one-half first"><a href="/">jameshooverdesign.com</a></li>
				<div class="one-half nav-link-list">
					<li><a href="#about" class="nav-link">About</a></li>
					<li><a href="#projects" class="nav-link">Projects</a></li>
					<li><a href="#contact" class="nav-link">Contact</a></li>
				</div>
			</ul>
		</nav>
		<div class="welcome-title">
			<h1>James Hoover</h1>
			<h2>UX Designer</h2>
		</div>
		<div class="welcome-img">
			<%= image_tag "james_selfie_sketch.svg" %>
		</div>
		<div class="welcome-title">
			<h6>As a designer, I look into a person's mind.</h6>
			<h6>Here is a chance to look into mine.</h6>
		</div>
	</header>
	<!-- START SECTION - $ABOUT -->
	<a name="about"></a>
	<section class="about full-row">
		<h1 class="section-title">Who am I?</h1>
		<%= image_tag "about/james-tree2.svg", class: "about-img-big" %>
	</section>
	<!-- START SECTION - $PROJECTS -->
	<a name="projects"></a>
	<section class="projects full-row">
		<h1 class="section-title">What have I made?</h1>
		<div class="row">
			<h2>Websites, Applications, etc.</h2>
			<div class="project-thumb one-half first">
				<a href="/projects/govote" class="project-link background">
					<%= image_tag "projects/govote/flag_sky.jpeg", class: "project-img", title: "GOVote" %>GOVote</a>
				</div>
				<div class="project-thumb one-half">
				<a href="projects/privacy" class="project-link background">
					<%= image_tag "projects/ruler.jpeg", class: "project-img" %>Privacy App (In progress)</a>
			</div>
			<div class="project-thumb one-half first">
				<a href="projects/freelance" class="project-link background">
					<%= image_tag "projects/books.jpg", class: "project-img" %>Freelance Work</a>
			</div>
		</div>
		<a name="photography"></a>
		<div class="row">
			<h2>Photography</h2>
			<div class="project-thumb one-half first">
				<a href="photography" class="project-link background no-border">
					<%= image_tag "photography/photo19.jpg", class: "project-img" %></a>
			</div>
			<div class="project-thumb one-half">
				<a href="photography" class="project-link background no-border">
					<%= image_tag "photography/photo28.jpg", class: "project-img" %></a>
			</div>
		</div>
<!-- 		<a name="art"></a>
		<div class="row">
			<h2>Artwork</h2>
			<div class="project-thumb one-half first">
			</div>
			<div class="project-thumb one-half">
			</div>
		</div> -->
	</section>
	<!-- START SECTION - $CONTACT -->
	<a name="contact"></a>
	<section class="contact full-row">
		<h1 class="section-title">Contact Me.</h1>
		<div class="row">
	    <div class="email">
	    	<a href="mailto:jamesfhoover@gmail.com" title="Email" class="">jamesfhoover@gmail.com</a>
	    </div>
	    <div class="social-icon">
	    	<a href="https://www.instagram.com/lovejamas/"><i class="fa fa-instagram fa-2x"></i><br>Instagram</a>
	  	</div>
	  	<div class="social-icon">
	  		<a href="https://www.flickr.com/photos/130235786@N06/"><i class="fa fa-flickr fa-2x"></i><br>Flicker</a>
	    </div>
	    <div class="social-icon">
	    	<a href="https://www.linkedin.com/in/james-hoover-93265629"><i class="fa fa-linkedin-square fa-2x"></i><br>LinkedIn</a>
	    </div>
	  </div>
		<a href="#top" class="jump"><i class="fa fa-arrow-up"></i> Back to top</a>
		<h6 class="credits">Designed and built by James. 2016.</h6>
	</section>
</body>