<body>
	<a name="top"></a>
	<!-- START HEADER -->
	<header class="projects-page-header">
		<nav class="row">
			<ul>
				<li class="site-url"><a href="/">jameshooverdesign.com</a></li>
				<li><a href="/#projects" class="back"><i class="fa fa-arrow-left"></i>Back to Projects List</a></li>
			</ul>
		</nav>
		<div class="row">
			<h1 class="project-name other">The Others</h1>
		</div>
	</header>
	<section class="projects-page">
		<div class="row">
			<div class="project-details two-thirds first">
				<p class="bold">Some samples of my other work.</p>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">Nemo Homes LLC</h2>
			<p class="project-subheader">Nemo Homes buys houses and property around Seattle, fixes them up, and sells them.</p>
			<%= link_to image_tag("projects/other/nemo-home.png"), image_path("projects/other/nemo-home.png"), class: "one-half first project-img",  title: "Nemo Homes" %>
			<div class="one-half">
			  <h5 class="project-subheader">The Challenge:</h5>
        <p>Build a low cost site to inform users about the company's current and past projects. Provide contact information.</p>
        <h5 class="project-subheader">The Users:</h5>
        <p>Potential and current clients and investors. People interested in the company and its projects.</p>
        <h5 class="project-subheader">The Process:</h5>
        <p>Met with client to discover needs and goals. Researched competition. Sketched then wireframed layout. Developed using HTML/CSS.</p>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">206 Tutoring</h2>
			<p class="project-subheader">206 Tutoring is a private tutoring agency in Seattle.</p>
			<%= link_to image_tag("projects/other/206tutoring_1.png"), image_path("projects/other/206tutoring_1.png"), class: "one-half first project-img",  title: "206 Tutoring" %>
			<div class="one-half">
			  <h5 class="project-subheader">The Challenge:</h5>
        <p>Refresh dated site to give a more professional look, ease of use, and ultimately bring in more clients.</p>
        <h5 class="project-subheader">The Users:</h5>
        <p>Parents and students looking to hire a private tutor in Seattle.</p>
        <h5 class="project-subheader">The Process:</h5>
        <p>Worked with senior designer to create high-fidelity mockups. Developed with HTML, CSS, and Javascript.</p>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">Andre Legacy</h2>
			<p class="project-subheader">Musician from Los Angeles</p>
			<%= link_to image_tag("projects/other/legacy_music.png"), image_path("projects/other/legacy_music.png"), class: "one-half first project-img",  title: "Andre Legacy" %>
			<div class="one-half">
			  <h5 class="project-subheader">The Challenge:</h5>
        <p>Retire dated wordpress site and build a more professional and clean site to spread music and bring in purchases.</p>
        <h5 class="project-subheader">The Users:</h5>
        <p>Current/potential fans of Andre Legacy.</p>
        <h5 class="project-subheader">The Process:</h5>
        <p>Gathered info from client. Researched market. Sketched designs and turned into wireframes. Built site with HTML and CSS.</p>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">DTLA</h2>
			<p class="project-subheader">Denimocracy USA</p>
			<%= link_to image_tag("projects/other/DTLA.jpg"), image_path("projects/other/DTLA.jpg"), class: "one-half first project-img",  title: "DTLA" %>
			<div class="one-half">
			  <h5 class="project-subheader">The Challenge:</h5>
        <p>Create an appealing and stylish print for demin gift bags in the logo 'DTLA' (Downtown Los Angeles). Simple shading and no color to keep printing costs down.</p>
        <h5 class="project-subheader">The Users:</h5>
        <p>Celebrities, buyers, media, etc. associated with Denimocracy USA.</p>
        <h5 class="project-subheader">The Process:</h5>
        <p>Worked with client to get general concept, constraints, and pieces for inspiration. Sketched up designs. Chose best design and hand drew in Illustrator.</p>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">RDNC</h2>
			<p class="project-subheader">Richmond District Neighborhood Center</p>
			<%= link_to image_tag("projects/other/RDNC-SaveTheDate.png"), image_path("projects/other/RDNC-SaveTheDate.png"), class: "one-fourth first project-img",  title: "RDNC" %>
			<%= link_to image_tag("projects/other/RDNC-invite.jpeg"), image_path("projects/other/RDNC-invite.jpeg"), class: "one-fourth project-img",  title: "RDNC" %>
			<div class="one-half">
			  <h5 class="project-subheader">The Challenge:</h5>
        <p>Create a 'save the date' and formal invitation to be sent to guests of the 35th annual RDNC fundraising dinner.</p>
        <h5 class="project-subheader">The Users:</h5>
        <p>Employees, friends, and family invited to the RDNC event.</p>
        <h5 class="project-subheader">The Process:</h5>
        <p>Gathered information on RDNC, the event, and style constraints. Worked with client to develop designs. Created 'Save the Date' with photoshop. Consulted/guided client for creation of the formal invitation.</p>
			</div>
		</div>
	</section>
	<section class="contact full-row">
		<h1 class="section-title">Contact Me.</h1>
		<div class="row">
	    <div class="email">
	    	<a href="mailto:jamesfhoover@gmail.com" title="Email" class="">jamesfhoover@gmail.com</a>
	    </div>
	    <div class="social-icon">
	    	<a href="https://www.instagram.com/lovejamas/"><i class="fa fa-instagram fa-2x"></i><br>Instagram</a>
	  	</div>
	  	<div class="social-icon">
	  		<a href="https://www.flickr.com/photos/130235786@N06/"><i class="fa fa-flickr fa-2x"></i><br>Flicker</a>
	    </div>
	    <div class="social-icon">
	    	<a href="https://www.linkedin.com/in/james-hoover-93265629"><i class="fa fa-linkedin-square fa-2x"></i><br>LinkedIn</a>
	    </div>
	  </div>
		<a href="#top" class="jump"><i class="fa fa-arrow-up"></i> Back to top</a>
	</section>
	<script type="text/javascript">
    $('.projects-page').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery: {
        // options for gallery
        enabled: false
      }
    });
  </script>
</body><!-- END BODY -->
