<div class="breadcrumbs">
  <a href="/">home</a> / <a href="/work">selected work</a> / <span class="active"> photography</span>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/hawaii.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Big Beach, Maui</h2>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/seattle.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Seattle, WA</h2>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/car.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Police Interceptor</h2>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/fireworks.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Independence Day</h2>
    <p><small>A (relatively) long exposure</small></p>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/horse.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2 class="title">The Horse Whisperer</h2>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/agnes_held.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Agnes</h2>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/agnes_sitting.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Agnes</h2>
    <p><small>I'm obsessed</small></p>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/fireworks2.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Fireworks</h2>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/fireworks3.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>Shooting Stars</h2>
    <p><small>jk more fireworks</small></p>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery__image">
    <%= image_tag "work/city_lights.jpg", class: 'gallery__image--img'%>
  </div>
  <div class="gallery__text">
    <h2>City Lights</h2>
  </div>
</div>

<script type="text/javascript">
$(function showImage() {
  $(".gallery__photo").click(function() {
    var close = document.getElementById('close-button');
    if ($(".gallery__photo").hasClass("active-view")) {
      $(this).removeClass("active-view");
      close.style.display = 'none';
    } else {
      $(this).addClass("active-view");
      close.style.display = 'inline-block';
    }
  });
});
</script>