<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover - Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black" %></li>
          <li><%= link_to "Work", '/work/projects', class: "nav-red current" %>
            <ul class="sub-site-nav">
              <li><%= link_to "Projects", '/work/projects', class: "nav-red" %></li>
              <li><%= link_to "Art", '/work/art', class: "nav-red" %></li>
              <li><%= link_to "Photography", '/work/photography', class: "nav-red current" %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- WORK-NAV -->
    <nav class="work-nav row">
      <h1 class="work-title">My Work</h1>
      <h2 class="sub-title">Photography</h2>
      <ul>
        <li><%= link_to "Projects", '/work/projects', class: "nav-red" %></li>
        <li><%= link_to "Art", '/work/art', class: "nav-red" %></li>
        <li><%= link_to "Photography", '/work/photography', class: "nav-red current" %></li>
      </ul>
    </nav>
    <!-- WORK-CONTENT -->
    <section class="row photos">
      <article class="photo-block one-half first">
        <%= link_to image_tag("photography/firework_reflection.jpg"), image_path("photography/firework_reflection.jpg"), class: "photo-img-link",  title: "Firework Reflection" %>
        <h5>Firework Reflection | 2015<h5>
      </article>
      <article class="photo-block one-half">
        <%= link_to image_tag("photography/taylor_james_jack.jpeg"), image_path("photography/taylor_james_jack.jpeg"), class: "photo-img-link",  title: "James & Taylor & Jack" %>
        <h5>New Years Eve | 2015<h5>
      </article>

      <article class="photo-block one-half first">
        <%= link_to image_tag("photography/firework_shore_launch.jpg"), image_path("photography/firework_shore_launch.jpg"), class: "photo-img-link",  title: "Firework Shore Launch" %>
        <h5>Firework Launch | 2015<h5>
      </article>
      <article class="photo-block one-half">
        <%= link_to image_tag("photography/firework_stars.jpg"), image_path("photography/firework_stars.jpg"), class: "photo-img-link",  title: "Firework Stars" %>
        <h5>Firework Stars | 2015<h5>
      </article>
      <article class="photo-block one-third first">
        <%= link_to image_tag("photography/foggy_rocks.jpg"), image_path("photography/foggy_rocks.jpg"), class: "photo-img-link",  title: "Foggy Rocks" %>
        <h5>Foggy Rocks | 2015<h5>
      </article>
      <article class="photo-block one-third">
        <%= link_to image_tag("photography/lighthouse.jpg"), image_path("photography/lighthouse.jpg"), class: "photo-img-link",  title: "Lighthouse" %>
        <h5>Lighthouse | 2015<h5>
      </article>
      <article class="photo-block one-third">
        <%= link_to image_tag("photography/polar_plunge4.jpeg"), image_path("photography/polar_plunge4.jpeg"), class: "photo-img-link",  title: "Polar Plunge" %>
        <h5>name | 2014<h5>
      </article>

      <article class="photo-block one-half first">
        <%= link_to image_tag("photography/mia_pink.jpeg"), image_path("photography/mia_pink.jpeg"), class: "photo-img-link",  title: "Mia" %>
        <h5>Mia | 2014<h5>
      </article>
      <article class="photo-block one-half">
        <%= link_to image_tag("photography/polar_plunge1.jpeg"), image_path("photography/polar_plunge1.jpeg"), class: "photo-img-link",  title: "Polar Plunge" %>
        <h5>hello | 2014<h5>
      </article>

      <article class="photo-block one-third first">
        <%= link_to image_tag("photography/winnie_frenchie_closeup.jpg"), image_path("photography/winnie_frenchie_closeup.jpg"), class: "photo-img-link",  title: "Winnie" %>
        <h5>Winnie | 2015</h5>
      </article>
      <article class="photo-block one-third">
        <%= link_to image_tag("photography/maya_labBW.jpg"), image_path("photography/maya_labBW.jpg"), class: "photo-img-link",  title: "Maya" %>
        <h5>Maya | 2015</h5>
      </article>
      <article class="photo-block one-third">
        <%= link_to image_tag("photography/beans_frenchie_closeupBW.jpg"), image_path("photography/beans_frenchie_closeupBW.jpg"), class: "photo-img-link",  title: "Beans" %>
        <h5>Beans | 2015<h5>
      </article>

    	<article class="photo-block one-half first">
        <%= link_to image_tag("photography/kelly_and_horse.jpeg"), image_path("photography/kelly_and_horse.jpeg"), class: "photo-img-link",  title: "Kelly & Horse" %>
        <h5>Kelly & the horses | 2014<h5>
      </article>
  		<article class="photo-block one-half">
        <%= link_to image_tag("photography/horse_closeup.jpeg"), image_path("photography/horse_closeup.jpeg"), class: "photo-img-link",  title: "Horse" %>
        <h5>The horse | 2014<h5>
      </article>

      <article class="photo-block one-half first">
        <%= link_to image_tag("photography/kelly_closeupBW.jpg"), image_path("photography/kelly_closeupBW.jpg"), class: "photo-img-link",  title: "Kelly" %>
        <h5>Kelly | 2015</h5>
      </article>
      <article class="photo-block one-half">
        <%= link_to image_tag("photography/tulipsBW.jpg"), image_path("photography/tulipsBW.jpg"), class: "photo-img-link",  title: "Tulips" %>
        <h5>Tulips | 2015</h5>
      </article>
    </section>
  </div><!-- END DIV wrapper -->
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="jump-top">
      <h4><a href="#top" title="Top" class="outline-black">Jump to top</a></h4>
    </section>
    <section class="icon-tray">
      <h4 class="see-more">Visit my <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr" class="black">Flickr</a> for more photos.</h4>
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>GitHub</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
    <h6 class="copyright">Designed and built by James - &copy; 2015</h6>
  </footer>
  <script type="text/javascript">
    $('.photos').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery: {
        // options for gallery
        enabled: true
      }
    });
  </script>
</body>