<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
  	<!-- NAVBAR -->
    <nav class="topnav container">
      <!-- Logo/site info -->
      <a href="/" title="Home"class="logo_link"><h4 class="logo"><img src="/assets/icons/logoCopy.png" class="logo_img">JamesHooverDesign.com</h4></a>
      <h4 id="site_info" class="subtext">James Hoover<br>UX/UI Design Portfolio<br><a href="mailto:jamesfhoover@gmail.com" title="Email" class="inline_link_red">jamesfhoover@gmail.com</a></h4><br>
      <!-- Nav -->
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work\xC2\xA0/", '/work/sites', :class => "link_red red_border active" %>
          <ul class="sub_topnav_hidden">
            <a href="/work/sites"><li class="capitalize">Websites</li></a><br>
            <a href="/work/art"><li class="capitalize">Art</li></a><br>
            <a href="/work/photography"><li class="capitalize active">Photography</li></a>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
    </nav>
		<!-- SPACERS -->
    <div class="topnav_clear"></div>
    <!-- WORK_PAGE CONTENT - PHOTOGRAPHY -->
    <div class="container" id="work_page">
      <h1 class="bold">My Work:</h1>
      <nav id="worknav">
        <ul>
        	<li><%= link_to "Websites", '/work/sites', :class => "link_red red_border" %></li>
        	<li><%= link_to "Art", '/work/art', :class => "link_red red_border" %></li>
          <li><%= link_to "Photography", '/work/photography', :class => "link_red red_border active" %></li>
        </ul>
      </nav>
      <div class="spacer_25"></div>
      <h2 class="work_location bold uppercase">Photography</h2>
      <div class="spacer_25"></div>
      <!-- <p class="paragraph">I come from a family of photographers. I upgraded my camera this past year and have been learning everything I can about it. Enjoy some of my favorite shots.<br><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr" class="red">Check out my Flickr for more.</a></p><br> -->

      <div class="img_container">

      	<div id="photo_column_one">

          <div class="photo_block">
            <%= link_to image_tag("photography/tulipsBW.jpg"), image_path("photography/tulipsBW.jpg"), class: "photo_img_link",  title: "Tulips" %>
            <h3 class="photo_text center_horizontal_text">Tulips | 2015</h3>
          </div>
          <div class="photo_block">
            <%= link_to image_tag("photography/kelly_closeupBW.jpg"), image_path("photography/kelly_closeupBW.jpg"), class: "photo_img_link",  title: "Kelly" %>
            <h3 class="photo_text center_horizontal_text">Kelly | 2015</h3>
          </div>
          <div class="photo_block">
            <%= link_to image_tag("photography/maya_lab.jpg"), image_path("photography/maya_lab.jpg"), class: "photo_img_link",  title: "Maya" %>
            <h3 class="photo_text center_horizontal_text">Maya | 2015</h3>
          </div>
          <div class="photo_block">
            <%= link_to image_tag("photography/maya_labBW.jpg"), image_path("photography/maya_labBW.jpg"), class: "photo_img_link",  title: "Maya" %>
            <h3 class="photo_text center_horizontal_text">Maya | 2015</h3>
          </div>
          <div class="photo_block">
            <%= link_to image_tag("photography/winnie_frenchie_closeup.jpg"), image_path("photography/winnie_frenchie_closeup.jpg"), class: "photo_img_link",  title: "Winnie" %>
            <h3 class="photo_text center_horizontal_text">Winnie | 2015</h3>
          </div>
          <div class="photo_block">
            <%= link_to image_tag("photography/beans_frenchie_closeupBW.jpg"), image_path("photography/beans_frenchie_closeupBW.jpg"), class: "photo_img_link",  title: "Beans" %>
            <h3 class="photo_text center_horizontal_text">Beans | 2015</h3>
          </div>
    	  	<div class="photo_block">
            <%= link_to image_tag("photography/kelly_and_horse.jpeg"), image_path("photography/kelly_and_horse.jpeg"), class: "photo_img_link",  title: "Kelly & Horse" %>
            <h3 class="photo_text center_horizontal_text">Kelly & the horses | 2014</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/kelly_profile.jpeg"), image_path("photography/kelly_profile.jpeg"), class: "photo_img_link",  title: "Kelly" %>
            <h3 class="photo_text center_horizontal_text">Kelly on the beach | 2014</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/horse_closeup.jpeg"), image_path("photography/horse_closeup.jpeg"), class: "photo_img_link",  title: "Horse" %>
            <h3 class="photo_text center_horizontal_text">The horse | 2014</h3>
          </div>

        </div>

        <div id="photo_column_two">

    			<div class="photo_block">
            <%= link_to image_tag("photography/mia_pink.jpeg"), image_path("photography/mia_pink.jpeg"), class: "photo_img_link",  title: "Mia" %>
            <h3 class="photo_text center_horizontal_text">Mia | 2014</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/polar_plunge1.jpeg"), image_path("photography/polar_plunge1.jpeg"), class: "photo_img_link",  title: "Polar Plunge" %>
            <h3 class="photo_text center_horizontal_text">hello | 2014</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/polar_plunge2.jpeg"), image_path("photography/polar_plunge2.jpeg"), class: "photo_img_link",  title: "Polar Plunge" %>
            <h3 class="photo_text center_horizontal_text">my | 2014</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/polar_plunge3.jpeg"), image_path("photography/polar_plunge3.jpeg"), class: "photo_img_link",  title: "Polar Plunge" %>
            <h3 class="photo_text center_horizontal_text">name | 2014</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/polar_plunge4.jpeg"), image_path("photography/polar_plunge4.jpeg"), class: "photo_img_link",  title: "Polar Plunge" %>
            <h3 class="photo_text center_horizontal_text">jame | 2015</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/polar_plunge5.jpeg"), image_path("photography/polar_plunge5.jpeg"), class: "photo_img_link",  title: "Polar Plunge" %>
            <h3 class="photo_text center_horizontal_text">i | 2015</h3>
          </div>
    			<div class="photo_block">
            <%= link_to image_tag("photography/james_and_kelly.jpeg"), image_path("photography/james_and_kelly.jpeg"), class: "photo_img_link",  title: "James & Kelly" %>
            <h3 class="photo_text center_horizontal_text">like | 2015</h3>
          </div>
      		<div class="photo_block">
            <%= link_to image_tag("photography/kyle_closeup.jpeg"), image_path("photography/kyle_closeup.jpeg"), class: "photo_img_link",  title: "Kyle" %>
            <h3 class="photo_text center_horizontal_text">thinking | 2015</h3>
          </div>
      		<div class="photo_block">
            <%= link_to image_tag("photography/taylor_james_jack.jpeg"), image_path("photography/taylor_james_jack.jpeg"), class: "photo_img_link",  title: "James & Taylor & Jack" %>
            <h3 class="photo_text center_horizontal_text">about | 2015</h3>
          </div>
      		<div class="photo_block">
            <%= link_to image_tag("photography/kelly_beach.jpeg"), image_path("photography/kelly_beach.jpeg"), class: "photo_img_link",  title: "Kelly" %>
            <h3 class="photo_text center_horizontal_text">the | 2015</h3>
          </div>
      		<div class="photo_block">
            <%= link_to image_tag("photography/fungus_log.jpeg"), image_path("photography/fungus_log.jpeg"), class: "photo_img_link",  title: "Fungus" %>
            <h3 class="photo_text center_horizontal_text">unknown | 2015</h3>
          </div>

    		</div>

      </div>
    </div>
  </div>
    <div class="spacer_25"></div>
  <p class="center_horizontal_text">Check out my <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr" class="red">Flickr</a> for more.</p>

  <div class="spacer_50"></div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <h4><a href="#top" title="Top" id="jump_top">Jump to top</a></h4>
    <div class="spacer_50"></div>
    <div class="icon_tray">
      <div class="spacer_10"></div>
      <a href="http://www.facebook.com/" title="Facebook"><div id="facebook_icon"></div><br>Facebook</a>
      <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div id="flickr_icon"></div><br>Flickr</a>
      <a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div id="instagram_icon"></div><br>Instagram</a>
      <a href="http://www.tumblr.com/" title="Tumblr"><div id="tumblr_icon"></div><br>Tumblr</a>
      <a href="mailto:jamesfhoover@gmail.com" title="Email"><div id="email_icon"></div><br>Email</a>
    </div>
		<h4 id="copy">&copy;2015 - James Hoover</h4>
	</div>
</body>