<!-- Header -->
	<section id="header">
		<a href="/#three" class="button icon small fa-chevron-left back">Back</a>
		<div class="inner">
			<h1>My Photography,</h1>
			<h3>a look into how I see the world.</h3>
		</div>
	</section>

<!-- One -->
	<section class="main style1">
		<div class="container">

			<section>
		
				<div class="row uniform 50%">
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF4790.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF2505.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF7157.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF4634.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF6830.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF3170.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF8041.jpg" %></span></div>			
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF5187.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF4611.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF2236.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF6672.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF6800.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF3311.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF3315.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF6837.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF5275.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF4318.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF2977.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF4770.jpg" %></span></div>
					<div class="6u 12u(small)"><span class="image fit"><%= image_tag "photography/DSCF4631.jpg" %></span></div>
				</div>

			</section>

		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.instagram.com/lovejamas/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/james-hoover-93265629" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="https://www.flickr.com/photos/130235786@N06/" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
			<li><a href="https://github.com/JamesHoover" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:jamesfhoover@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; James Hoover</li><li><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></li>
		</ul>
	</section>