<body>
  <nav class="topnav full_width">
    <ul class="center_horizontal_block">
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Work/", '/work/sites', :class => "active" %></li>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
  <div class="container_header">
    <h1>My Work:</h1>
  </div>
  <div class="container_worknav">
    <ul>
    	<li><%= link_to "Sites", '/work/sites' %></li>
    	<li><%= link_to "Art", '/work/art' %></li>
      <li><%= link_to "Photograhy", '/work/photography', :class => "active" %></li>
    </ul>
  </div>
  <h2>Photography</h2>
  <p>I finally upgraded to a fancy camera this past year and have been learning everything I can about photography. These are some of my favorite shots.</p>
</body>
