<!-- BODY -->
<body>
  <div class="wrapper">
  	<!-- NAVBAR -->
    <nav class="topnav container full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/me.jpg" class="logo_img">
          <h3>James Hoover</h3>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class =>"black_border" %></li>
        <li><%= link_to "Work /", '/work/sites', :class =>"link_red red_border active" %>
          <ul class="sub_topnav">
            <li class="capitalize"><%= link_to "/ Sites", '/work/sites', :class =>"link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Art", '/work/art', :class =>"link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Photograhy", '/work/photography', :class =>"link_red active" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
		<!-- SPACERS -->
    <div class="topnav_clear"></div>
    <div class="spacer_50"></div>
    <!-- WORKPAGE CONTENT - PHOTOGRAPHY -->
    <div class="container work_page">
      <h1 class="location bold uppercase">My Work:</h1>
      <nav id="worknav">
        <ul>
        	<li><%= link_to "Sites", '/work/sites', :class =>"link_red" %></li>
        	<li><%= link_to "Art", '/work/art', :class =>"link_red" %></li>
          <li><%= link_to "Photograhy", '/work/photography', :class =>"link_red active" %></li>
        </ul>
      </nav>
      <div>
        <h2 class="work_location uppercase">Photography</h2>
        <p class="subtext">I come from a family of photographers. I upgraded my camera this past year and have been learning everything I can about it. These are some of my favorite shots.<br><a href="https://www.flickr.com/photos/130235786@N06/" class="link_red red">Check out my flickr for more.</a></p><br>
      </div>
    </div>
    <div class="img_container container">
  	  <div class="img_thumb"><%= image_tag("photography/DSCF1937.jpeg") %><h4 class="img_text center_horizontal_text">Kelly & the horses | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF1965.jpeg") %><h4 class="img_text center_horizontal_text">Kelly on the beach | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2236.jpeg") %><h4 class="img_text center_horizontal_text">The horse | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2260.jpeg") %><h4 class="img_text center_horizontal_text">Mia | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2419.jpeg") %><h4 class="img_text center_horizontal_text">hello | 2014</h4></div>
  		<div class="img_thumb portrait"><%= image_tag("photography/DSCF2432.jpeg") %><h4 class="img_text center_horizontal_text">my | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2447.jpeg") %><h4 class="img_text center_horizontal_text">name | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2505.jpeg") %><h4 class="img_text center_horizontal_text">jame | 2015</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2510.jpeg") %><h4 class="img_text center_horizontal_text">i | 2015</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2517.jpeg") %><h4 class="img_text center_horizontal_text">like | 2015</h4></div>
  		<div class="img_thumb portrait"><%= image_tag("photography/DSCF2526.jpeg") %><h4 class="img_text center_horizontal_text">thinking | 2015</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2547.jpeg") %><h4 class="img_text center_horizontal_text">about | 2015</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2558.jpeg") %><h4 class="img_text center_horizontal_text">the | 2015</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2569.jpeg") %><h4 class="img_text center_horizontal_text">unknown | 2015</h4></div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
  	<div id="footer_break" class="center_horizontal_block"></div>
		<h4>&copy;2015 - James Hoover</h4>
	</div>
</body>