<body>
  <div class="wrapper">
    <nav class="topnav container full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/me.jpg" class="logo_img">
          <h3>James Hoover</h3>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class =>"link_green green_border" %></li>
        <li><%= link_to "Work /", '/work/sites', :class =>"link_red red_border active" %>
          <ul class="sub_topnav">
            <li class="capitalize"><%= link_to "/ Sites", '/work/sites', :class =>"link_red" %></li>
            <li class="capitalize"><%= link_to "/ Art", '/work/art', :class =>"link_red" %></li>
            <li class="capitalize"><%= link_to "/ Photograhy", '/work/photography', :class =>"link_red active" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_yellow yellow_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
    <div class="topnav_clear"></div>
    <div class="spacer"></div>
    <div class="container work_page">
      <h1 class="location bold uppercase">My Work:</h1>
      <nav id="worknav">
        <ul>
        	<li><%= link_to "Sites", '/work/sites', :class =>"link_red" %></li>
        	<li><%= link_to "Art", '/work/art', :class =>"link_red" %></li>
          <li><%= link_to "Photograhy", '/work/photography', :class =>"link_red active" %></li>
        </ul>
      </nav>
      <div>
        <h2 class="work_location uppercase">Photography</h2>
        <p class="subtext">I upgraded from a point and shoot this past year and have been learning everything I can about photography. These are some of my favorite shots.</p>
      </div>
    </div>
    <div class="img_container container">
  	  <div class="img_thumb"><%= image_tag("photography/DSCF1937.jpeg") %><h4 class="bottom_right img_text">Kelly & the horses | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF1965.jpeg") %><h4 class="bottom_right img_text">Kelly on the beach. 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2236.jpeg") %><h4 class="bottom_right img_text">The horse | 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2260.jpeg") %><h4 class="bottom_right img_text">Mia. 2014</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2419.jpeg") %><h4 class="bottom_right img_text">hello</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2432.jpeg") %><h4 class="bottom_right img_text">my</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2447.jpeg") %><h4 class="bottom_right img_text">name</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2505.jpeg") %><h4 class="bottom_right img_text">jame</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2510.jpeg") %><h4 class="bottom_right img_text">i</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2517.jpeg") %><h4 class="bottom_right img_text">like</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2526.jpeg") %><h4 class="bottom_right img_text">thinking</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2547.jpeg") %><h4 class="bottom_right img_text">about</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2558.jpeg") %><h4 class="bottom_right img_text">the</h4></div>
  		<div class="img_thumb"><%= image_tag("photography/DSCF2569.jpeg") %><h4 class="bottom_right img_text">unknown</h4></div>
    </div>
  </div>
  <div class="footer push center_horizontal_text"><h4 id="copy">&copy;2015 - James Hoover</h4></div>
</body>