<body>
  <a name="top"></a>
  <!-- START HEADER -->
  <header class="projects-page-header">
    <nav class="row">
      <ul>
        <li class="site-url"><a href="/">jameshooverdesign.com</a></li>
        <li><a href="/#projects" class="back"><i class="fa fa-arrow-left"></i>Back</a></li>
      </ul>
    </nav>
    <div class="row">
      <h1 class="project-name">Photography</h1>
    </div>
  </header>
  <div class="row photos">
    <section class="row one-third first">
      <%= link_to image_tag("photography/photo19.jpg"), image_path("photography/photo19.jpg"), class: "photo-img-link",  title: "Seattle" %>
      <%= link_to image_tag("photography/photo01.jpg"), image_path("photography/photo01.jpg"), class: "photo-img-link",  title: "Horse" %>
      <%= link_to image_tag("photography/photo16.jpg"), image_path("photography/photo16.jpg"), class: "photo-img-link",  title: "Fireworks" %>
      <%= link_to image_tag("photography/photo04.jpg"), image_path("photography/photo04.jpg"), class: "photo-img-link",  title: "Swim" %>
      <%= link_to image_tag("photography/photo03.jpg"), image_path("photography/photo03.jpg"), class: "photo-img-link",  title: "Swim" %>
      <%= link_to image_tag("photography/photo06.jpg"), image_path("photography/photo06.jpg"), class: "photo-img-link",  title: "FLowers" %>
      <%= link_to image_tag("photography/photo07.jpg"), image_path("photography/photo07.jpg"), class: "photo-img-link",  title: "Dog" %>
      <%= link_to image_tag("photography/photo10.jpg"), image_path("photography/photo10.jpg"), class: "photo-img-link",  title: "Rocks" %>
    </section>
    <section class="row one-third">
      <%= link_to image_tag("photography/photo28.jpg"), image_path("photography/photo28.jpg"), class: "photo-img-link",  title: "Hawaii" %>
      <%= link_to image_tag("photography/photo23.jpg"), image_path("photography/photo23.jpg"), class: "photo-img-link",  title: "City Lights" %>
      <%= link_to image_tag("photography/photo11.jpg"), image_path("photography/photo11.jpg"), class: "photo-img-link",  title: "Statue" %>
      <%= link_to image_tag("photography/photo18.jpg"), image_path("photography/photo18.jpg"), class: "photo-img-link",  title: "Car Lights" %>
      <%= link_to image_tag("photography/photo02.jpg"), image_path("photography/photo02.jpg"), class: "photo-img-link",  title: "Horse" %>
      <%= link_to image_tag("photography/photo12.jpg"), image_path("photography/photo12.jpg"), class: "photo-img-link",  title: "River" %>
      <%= link_to image_tag("photography/photo13.jpg"), image_path("photography/photo13.jpg"), class: "photo-img-link",  title: "Fireworks" %>
      <%= link_to image_tag("photography/photo15.jpg"), image_path("photography/photo15.jpg"), class: "photo-img-link",  title: "Fireworks" %>
      <%= link_to image_tag("photography/photo09.jpg"), image_path("photography/photo09.jpg"), class: "photo-img-link",  title: "Dog" %>
      <%= link_to image_tag("photography/photo14.jpg"), image_path("photography/photo14.jpg"), class: "photo-img-link",  title: "Fireworks" %>
    </section>
    <section class="row one-third">
      <%= link_to image_tag("photography/photo24.jpg"), image_path("photography/photo24.jpg"), class: "photo-img-link",  title: "City Light" %>
      <%= link_to image_tag("photography/photo08.jpg"), image_path("photography/photo08.jpg"), class: "photo-img-link",  title: "Dog" %>
      <%= link_to image_tag("photography/photo22.jpg"), image_path("photography/photo22.jpg"), class: "photo-img-link",  title: "Car" %>
      <%= link_to image_tag("photography/photo20.jpg"), image_path("photography/photo20.jpg"), class: "photo-img-link",  title: "Cali" %>
      <%= link_to image_tag("photography/photo25.jpg"), image_path("photography/photo25.jpg"), class: "photo-img-link",  title: "City Lights" %>
      <%= link_to image_tag("photography/photo26.jpg"), image_path("photography/photo26.jpg"), class: "photo-img-link",  title: "Hawaii" %>
      <%= link_to image_tag("photography/photo27.jpg"), image_path("photography/photo27.jpg"), class: "photo-img-link",  title: "Hawaii" %>
      <%= link_to image_tag("photography/photo21.jpg"), image_path("photography/photo21.jpg"), class: "photo-img-link",  title: "Big Sur" %>
    </section>
  </div>
  <section class="contact full-row">
    <h1 class="section-title">Contact Me.</h1>
    <div class="row">
      <div class="email">
        <a href="mailto:jamesfhoover@gmail.com" title="Email" class="">jamesfhoover@gmail.com</a>
      </div>
      <div class="social-icon">
        <a href="https://www.instagram.com/lovejamas/"><i class="fa fa-instagram fa-2x"></i><br>Instagram</a>
      </div>
      <div class="social-icon">
        <a href="https://www.flickr.com/photos/130235786@N06/"><i class="fa fa-flickr fa-2x"></i><br>Flicker</a>
      </div>
      <div class="social-icon">
        <a href="https://www.linkedin.com/in/james-hoover-93265629"><i class="fa fa-linkedin-square fa-2x"></i><br>LinkedIn</a>
      </div>
    </div>
    <a href="#top" class="jump"><i class="fa fa-arrow-up"></i> Back to top</a>
  </section>
  <script type="text/javascript">
    $('.photos').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery: {
        // options for gallery
        enabled: true
      }
    });
  </script>
</body>