<section class="photography-container">
	<div class="gallery">
    <div class="gallery__photo">
      <%= image_tag "photography/win.jpg" %>
    </div>
    <div class="gallery__photo">
      <%= image_tag "photography/horse.jpg" %>
    </div>
    <div class="gallery__photo">
      <%= image_tag "photography/bean.jpg" %>
    </div>
    <div class="gallery__photo">
      <%= image_tag "photography/flower.jpg" %>
    </div>
    <div class="gallery__photo">
      <%= image_tag "photography/win.jpg" %>
    </div>
    <div class="gallery__photo">
      <%= image_tag "photography/horse.jpg" %>
    </div>
    <div class="gallery__photo">
      <%= image_tag "photography/bean.jpg" %>
    </div>
    <div class="gallery__photo">
      <%= image_tag "photography/flower.jpg" %>
    </div>
  </div>
</section>
