<body>
	<a name="top"></a>
	<!-- START HEADER -->
	<header class="projects-page-header">
		<nav class="row">
			<ul>
				<li class="site-url"><a href="/">jameshooverdesign.com</a></li>
				<li><a href="/#projects" class="back"><i class="fa fa-arrow-left"></i>Back</a></li>
			</ul>
		</nav>
		<div class="row">
			<h1 class="project-name">Privacy App</h1>
		</div>
	</header>
	<section class="projects-page">
		<div class="row project-details">
			<div class="two-thirds first">
				<p class="bold">With today's news about the NSA and online spying, I set out to find how users felt about their online privacy. I set Millennials as my target audience because studies show they spend the most time online.</p>
				<h2 class="project-header">Research Insights</h2>
				<p class="project-subheader">Through interviews and research of my target audience I made some general insights</p>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-square"></i>They feel that their privacy is being violated and they have no control to stop it.</li>
					<li><i class="fa-li fa fa-square"></i>They are losing confidence that the spying is in their best interest.</li>
					<li><i class="fa-li fa fa-square"></i>They do not want to give up any freedoms to the government for fear that the government will abuse that power to take more.</li>
					<li><i class="fa-li fa fa-square"></i>They are not informed of current tools and techniques to protect their information and/or do not understand how to use them.</li>
				</ul>
				<h2 class="project-header">Problem Statement</h2>
				<p>US citizens need a way to protect their personal information online because they are worried that it is being viewed, stored, and/or explointed by the government and other corporations.</p>
				<h2 class="project-header">High Level Objectives</h2>
				<ul class="fa-ul">
				<li><i class="fa-li fa fa-square"></i>Allow user to protect their personal information online.</li>
				<li><i class="fa-li fa fa-square"></i>End users fear that their privacy is being violated.</li>
				<li><i class="fa-li fa fa-square"></i>Allow the user to see what data can be gathered by the government and how it can be used.</li>
			</ul>
			</div>
			<div class="one-third">
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">Personas</h2>
			<p class="project-subheader">These are fictional people used to represent my users. I developed them from interviews and research</p>
			<div class="one-half first">
				<%= image_tag "projects/privacy/persona_jack.png" %>
				<p><span class="strong-text">Jack is a 19 year old painter.</span> He has nothing to hide. He views spying as necessary for protection but feels as though he is being watched whenever he interacts online. This is unsettling to him. Jack needs a way to know his government is protecting him while keeping his private information private.</p>
			</div>
			<div class="one-half">
				<%= image_tag "projects/privacy/persona_mary.png" %>
				<p><span class="strong-text">Mary is a 23 year old photographer.</span> She is a law abiding citizen. She believes that she deserves privacy and that it should not be violated. She does not like knowing that the government can read her texts, tweets, and see her snapchats. She needs a system that will protect her privacy without corrupting her government protection.</p>
			</div>
		</div>
		<div class="row">
			<div class="one-half first">
				<%= image_tag "projects/privacy/persona_karl.png" %>
				<p><span class="strong-text">Karl is a 27 year old blogger.</span> "You can't joke about stuff that could be taken as a threat." He is vocal about the government's abuse of power and the dangers it entails. Karl thinks that the spying is pointless and does not even prevent terrorist attacks. He spends a lot of time and effort to hide his information. He needs a way to do this passively.</p>
			</div>
			<div class="one-half">
				<%= image_tag "projects/privacy/persona_steve.png" %>
				<p><span class="strong-text">Steve is a 32 year old writer.</span> He is worried about the future. He sees the road we are on as a slippery slope, that we are following the path of Big Brother. His online behaviors have changed. He does not search things that he might have before, and he is wary about what he sends over email. Steve needs a way to protect his daily interactions online.</p>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">Competitive Analysis</h2>
			<%= image_tag "projects/privacy/comp_analysis1.png", class: "one-half first" %>
			<div class="one-half">
				<p>Through analysis of the competitors I found that there are many solutions to protecting unique types of online interaction. The tools range in effectivenss and usability and the tradeoffs typically come between level of protection vs amount of work required. My research tells me that users want a lot of protection with minimal amount of overhead. Also, a hole I've found in the current competition is there is no solution to passively protect social media information.</p>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">User Flows</h2>
			<%= image_tag "projects/privacy/user_flow1.png" %>
			<p>I decided to give the option of two levels of security. I made this decision from my research that says the users want to have control but do not want to be overwhelmed by options.</p>
		</div>
		<div class="row">
			<h2 class="project-header">The rest is in progress (April 2016)</h2>
			<p>I am currently working on sketching out concepts and testing them with users. Please check back later, or <a href="mailto:jamesfhoover@gmail.com" title="Email" class="inline-link">email me</a> and I will be happy to give you an update.</p>
		</div>
	</section>
	</section>
	<section class="contact full-row">
		<h1 class="section-title-light">Contact Me.</h1>
		<div class="row">
	    <div class="email">
	    	<a href="mailto:jamesfhoover@gmail.com" title="Email" class="">jamesfhoover@gmail.com</a>
	    </div>
	    <div class="row resume">
	    	<h6><a href="/assets/JamesHooverResume.pdf" title="Download" class="underline" download>Download Resumé</a><span class="or">or</span><%= link_to "View Resumé", image_path("JamesHooverResume.pdf"), class: "underline" %></h6>
	    </div>
	    <div class="row">
		    <div class="social-icon">
		    	<a href="https://www.instagram.com/lovejamas/"><i class="fa fa-instagram fa-2x"></i><br>Instagram</a>
		  	</div>
		  	<div class="social-icon">
		  		<a href="https://www.flickr.com/photos/130235786@N06/"><i class="fa fa-flickr fa-2x"></i><br>Flicker</a>
		    </div>
		    <div class="social-icon">
		    	<a href="https://www.linkedin.com/in/james-hoover-93265629"><i class="fa fa-linkedin-square fa-2x"></i><br>LinkedIn</a>
		    </div>
	  	</div>
	  </div>
		<a href="#top" class="jump"><i class="fa fa-arrow-up"></i> Back to top</a>
		<h6 class="credits">Designed and built by James. 2016.</h6>
	</section>
</body><!-- END BODY -->