<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/hawaii.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Hawaii</h1>
    <p>Beautiful Big Beach.</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/queen_agnes.png", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Agnes</h1>
    <p>Queen of the dog park.</p>
    <p><small>(and my home)</small></p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/seattle.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Home</h1>
    <p>Seattle, WA.</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/car.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Police Interceptor</h1>
    <p>A frigid evening.</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/fireworks.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Independence Day</h1>
    <p>A (relatively) long exposure.</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/horse.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>The Horse Whisperer</h1>
    <p>She seriously is.</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/agnes_held.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Agnes</h1>
    <p>I'm obsessed.</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/agnes_sitting.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Agnes</h1>
    <p>OK, last one. I swear.</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/cracker.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Shooting Stars</h1>
    <p>jk more fireworks</p>
  </div>
</div>

<div class="container">
  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/city_lights.jpg", class: 'gallery__image--img'%>
    </div>
  </div>
  <div class="gallery__text">
    <h1>Focus</h1>
    <p>You had one job.</p>
  </div>
</div>

<a href="/work" class="back-button">&#8592; selected work</a>

<script type="text/javascript">
$(function showImage() {
  $(".gallery__photo").click(function() {
    var close = document.getElementById('close-button');
    if ($(".gallery__photo").hasClass("active-view")) {
      $(this).removeClass("active-view");
      close.style.display = 'none';
    } else {
      $(this).addClass("active-view");
      close.style.display = 'inline-block';
    }
  });
});
</script>