<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover - Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black sub-link" %></li>
          <li><%= link_to "Work", '/work/projects', class: "nav-red current" %>
            <ul class="sub-site-nav">
              <li><%= link_to "Projects", '/work/projects', class: "nav-red current" %></li>
              <li><%= link_to "Art", '/work/art', class: "nav-red" %></li>
              <li><%= link_to "Photography", '/work/photography', class: "nav-red" %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green sub-link" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue sub-link" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- WORK-NAV -->
    <nav class="work-nav row">
      <h1 class="work-title">My Work</h1>
      <h2 class="sub-title">Projects</h2>
      <ul>
        <li><%= link_to "Projects", '/work/projects', class: "nav-red current" %></li>
        <li><%= link_to "Art", '/work/art', class: "nav-red sub-link" %></li>
        <li><%= link_to "Photography", '/work/photography', class: "nav-red sub-link" %></li>
      </ul>
    </nav>
    <!-- WORK-CONTENT -->
      <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <article class="project-title">
        <h2>Nemo Homes LLC</h2>
        <a href="http://www.nemohomesllc.com/" title="Google" class="red">www.NemoHomesLLC.com</a>  
      </article>
      <div class="project-img two-thirds first">
        <%= link_to image_tag("projects/nemo-home.png"), image_path("projects/nemo-home.png"), class: "project-img-link",  title: "Nemo Homes" %>
        <section>
          <div class="project-img-extra one-half first">
            <%= link_to image_tag("projects/nemo-projects.png"), image_path("projects/nemo-projects.png"), class: "project-img-link",  title: "Nemo Homes" %>
          </div>
          <div class="project-img-extra one-half">
            <%= link_to image_tag("projects/nemo-contact.png"), image_path("projects/nemo-contact.png"), class: "project-img-link",  title: "Nemo Homes" %>
          </div>
        </section>
      </div>
      <article class="project-info one-third">
        <h4 class="project-desc">Real Estate Investment Company</h4>
        <h4>The Users:</h4>
        <p>Potential/current clients and investors. Those interested in currently held properties.</p>
        <h4>The Challenge:</h4>
        <p>Inform users about current and past projects. Provide contact information.</p>
        <h4>The Process:</h4>
        <p>Studied succesful related websites. Wireframed/Designed layout. Front-end implementation using HTML5/CSS3.</p>
        <h4 class="see-more"><a href="https://github.com/JamesHoover/nemo_homes" title="GitHub" class="outline-red">View the code</a></h4>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <article class="project-title">
        <h2>206 Tutoring</h2>
        <h4>(Work in Progress)</h4>
        <a href="http://www.206tutoring.com/" title="206 Tutoring" class="red">www.206tutoring.com</a>
      </article>
      <div class="project-img two-thirds first">
        <%= link_to image_tag("projects/youtube_home.png"), image_path("projects/youtube_home.png"), class: "project-img-link",  title: "YouTube" %>
      </div>
      <article class="project-info one-third">  
        <h4 class="project-desc">Private tutor and music teacher in and around Seattle</h4>
        <h4>The Users:</h4>
        <p>Parents/Students looking to hire a private tutor in Seattle.</p>
        <h4>The Challenge:</h4>
        <p>Refresh dated site to give more professional look, ease of use, and ultimately bring in more clients.</p>
        <h4>The Process:</h4>
        <p>Worked with designer to develop high-fidelity mockups. Built site according to specs with HTML/CSS.</p>
        <h4 class="see-more"><a href="https://github.com/JamesHoover/206_tutoring" title="GitHub" class="outline-red">View the code</a></h4>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <article class="project-title">
        <h2>DTLA</h2>
      </article>
      <div class="project-img two-thirds first">
        <%= link_to image_tag("art/DTLA.jpg"), image_path("art/DTLA.jpg"), class: "project-img-link",  title: "DTLA" %>
      </div>
      <article class="project-info one-third">
        <h4 class="project-desc">Parker Smith Jeans</h4>
        <h4>The Users:</h4>
        <p>Celebrities, buyers, editors, etc. associated with Parker Smith.</p>
        <h4>The Challenge:</h4>
        <p>Create an appealing logo to print onto demin gift bags. Simple shading and no color. Used to inexpensivly screen print and reuse.</p>
        <h4>The Process:</h4>
        <p>Worked with client to get general concept and pieces for inspiration. sketched up designs. Chose best design and drew in Illustrator.</p>
      </article>
    </section>
  </div>
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="jump-top">
      <h4><a href="#top" title="Top" class="outline-black">Jump to top</a></h4>
    </section>
    <section class="icon-tray">
      <h4 class="see-more">Visit my <a href="https://github.com/JamesHoover" title="GitHub" class="black">GitHub</a> for more work</h4>
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>GitHub</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
  	<h6 class="copyright">&copy;2015 - James Hoover</h6>
  </footer>
</body>