<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover | Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black sub-link" %></li>
          <li><%= link_to "Work", '/work/projects', class: "nav-red current" %>
            <ul class="sub-site-nav">
              <li><%= link_to "Projects", '/work/projects', class: "nav-red current" %></li>
              <li><%= link_to "Art", '/work/art', class: "nav-red" %></li>
              <li><%= link_to "Photography", '/work/photography', class: "nav-red" %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green sub-link" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue sub-link" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- WORK-NAV -->
    <nav class="work-nav row">
      <h1 class="work-title">My Work</h1>
      <h2 class="sub-title">Projects</h2>
      <ul>
        <li><%= link_to "Projects", '/work/projects', class: "nav-red current" %></li>
        <li><%= link_to "Art", '/work/art', class: "nav-red sub-link" %></li>
        <li><%= link_to "Photography", '/work/photography', class: "nav-red sub-link" %></li>
      </ul>
    </nav>
    <!-- WORK-CONTENT -->
    <!-- PROJECT-BLOCK -->
    <section class="row project-block">
      <section class="project-img-full two-thirds first">
        <%= link_to image_tag("projects/nemo-home.png"), image_path("projects/nemo-home.png"), class: "project-img-link", title: "Nemo Homes" %>
        <div class="project-img-extra one-half first">
          <%= link_to image_tag("projects/nemo-projects.png"), image_path("projects/nemo-projects.png"), class: "project-img-link", title: "Nemo Homes" %>
        </div>
        <div class="project-img-extra one-half">
          <%= link_to image_tag("projects/nemo-contact.png"), image_path("projects/nemo-contact.png"), class: "project-img-link", title: "Nemo Homes" %>
        </div>
      </section>
      <article class="project-info one-third">
        <article class="project-title">
          <h2>Nemo Homes LLC</h2>
          <a href="http://www.nemohomesllc.com/" title="Google" class="red">www.NemoHomesLLC.com</a>  
        </article>
        <section class="project-img-mobile two-thirds first">
          <%= link_to image_tag("projects/nemo-home.png"), image_path("projects/nemo-home.png"), class: "project-img-link", title: "Nemo Homes" %>
          <div class="project-img-extra one-half first">
            <%= link_to image_tag("projects/nemo-projects.png"), image_path("projects/nemo-projects.png"), class: "project-img-link", title: "Nemo Homes" %>
          </div>
          <div class="project-img-extra one-half">
            <%= link_to image_tag("projects/nemo-contact.png"), image_path("projects/nemo-contact.png"), class: "project-img-link", title: "Nemo Homes" %>
          </div>
        </section>
        <h3 class="project-desc">Website Design & Development</h3>
        <h3>The Challenge:</h3>
        <p>Build a low cost site to inform users about the company's current and past projects. Provide contact information.</p>
        <h3>The Users:</h3>
        <p>Potential and current clients and investors. People interested in the company and its projects.</p>
        <h3>The Process:</h3>
        <p>Studied succesful related websites. Designed and wireframed layout. Developed using HTML/CSS.</p>
        <h5 class="see-more"><a href="https://github.com/JamesHoover/nemo_homes" title="GitHub" class="red">View the code</a></h5>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <section class="project-img-full two-thirds first">
        <%= link_to image_tag("projects/206tutoring-home.png"), image_path("projects/206tutoring-home.png"), class: "project-img-link", title: "206 Tutoring" %>
        <div class="project-img-extra one-half first">
          <%= link_to image_tag("projects/206tutoring-about.png"), image_path("projects/206tutoring-about.png"), class: "project-img-link", title: "206 Tutoring" %>
        </div>
        <div class="project-img-extra one-half">
          <%= link_to image_tag("projects/206tutoring-end.png"), image_path("projects/206tutoring-end.png"), class: "project-img-link", title: "206 Tutoring" %>
        </div>
      </section>
      <article class="project-info one-third">
        <article class="project-title">
          <h2>206 Tutoring</h2>
          <a href="http://www.206tutoring.com/" title="206 Tutoring" class="red">www.206Tutoring.com</a>
        </article>
        <section class="project-img-mobile two-thirds first">
          <%= link_to image_tag("projects/206tutoring-home.png"), image_path("projects/206tutoring-home.png"), class: "project-img-link", title: "206 Tutoring" %>
          <div class="project-img-extra one-half first">
            <%= link_to image_tag("projects/206tutoring-about.png"), image_path("projects/206tutoring-about.png"), class: "project-img-link", title: "206 Tutoring" %>
          </div>
          <div class="project-img-extra one-half">
            <%= link_to image_tag("projects/206tutoring-end.png"), image_path("projects/206tutoring-end.png"), class: "project-img-link", title: "206 Tutoring" %>
          </div>
        </section>
        <h3 class="project-desc">Website Design & Development</h3>
        <h3>The Challenge:</h3>
        <p>Refresh dated site to give more professional look, ease of use, and ultimately bring in more clients.</p>
        <h3>The Users:</h3>
        <p>Parents and students looking to hire a private tutor in Seattle.</p>
        <h3>The Process:</h3>
        <p>Worked with designer to develop high-fidelity mockups. Built site according to specs with HTML, CSS, and Javascript.</p>
        <h5 class="see-more"><a href="https://github.com/JamesHoover/206tutoring" title="GitHub" class="red">View the code</a></h5>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <div class="project-img-full two-thirds first">
        <%= link_to image_tag("projects/DTLA.jpg"), image_path("projects/DTLA.jpg"), class: "project-img-link", title: "DTLA" %>
      </div>
      <article class="project-info one-third">
        <article class="project-title">
          <h2>Denimocracy USA</h2>
          <a href="http://denimocracyusa.com/" title="DenimocracyUSA" class="red">DenimocracyUSA.com</a>
        </article>
        <div class="project-img-mobile two-thirds first">
        <%= link_to image_tag("projects/DTLA.jpg"), image_path("projects/DTLA.jpg"), class: "project-img-link", title: "DTLA" %>
      </div>
        <h3 class="project-desc">Logo Design</h3>
        <h3>The Challenge:</h3>
        <p>Create an appealing and stylish print for demin gift bags in the logo 'DTLA' (Downtown Los Angeles). Simple shading and no color to keep printing costs down.</p>
        <h3>The Users:</h3>
        <p>Celebrities, buyers, media, etc. associated with Denimocracy USA.</p>
        <h3>The Process:</h3>
        <p>Worked with client to get general concept, constraints, and pieces for inspiration. Sketched up designs. Chose best design and hand drew in Illustrator.</p>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <div class="project-img-full two-thirds portrait first">
        <%= link_to image_tag("projects/RDNC-SaveTheDate.png"), image_path("projects/RDNC-SaveTheDate.png"), class: "project-img-link", title: "RDNC" %>
      </div>
      <article class="project-info one-third">
        <article class="project-title">
          <h2>Richmond District Neighborhood Center</h2>
          <a href="http://rdnc.org/" title="RDNC" class="red">www.RDNC.org</a>
        </article>
        <div class="project-img-mobile two-thirds portrait first">
        <%= link_to image_tag("projects/RDNC-SaveTheDate.png"), image_path("projects/RDNC-SaveTheDate.png"), class: "project-img-link", title: "RDNC" %>
      </div>
        <h3 class="project-desc">Invitation Design</h3>
        <h3>The Challenge:</h3>
        <p>Create a 'Save the Date' card to be sent to guests of the 35th annual RDNC fundraising dinner.</p>
        <h3>The Users:</h3>
        <p>Employees, friends, and family invited to the RDNC event.</p>
        <h3>The Process:</h3>
        <p>Worked with client to gather information on RDNC, the event, and style constraints. Collected media--photos, logos, and invitations from previous years. Brainstormed designs. Mocked-up multiple versions in Photoshop. Chose most fitting design and finalized it.</p>
      </article>
    </section>
  </div>
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="jump-top">
      <h4><a href="#top" title="Top" class="outline-black">Jump to top</a></h4>
    </section>
    <section class="icon-tray">
      <h4 class="see-more">Visit my <a href="https://github.com/JamesHoover" title="GitHub" class="black">GitHub</a> to see the code</h4>
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon grayscale"></div><br>GitHub</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon grayscale"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon grayscale"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon grayscale"></div><br>Email</a></li>
      </ul>
    </section>
  	<h6 class="copyright">Designed and built by James - &copy; 2015</h6>
  </footer>
  <script type="text/javascript">
    $('.project-img').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
    });
  </script>
</body>