<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
  	<!-- NAVBAR -->
    <nav class="topnav container">
      <!-- Logo/site info -->
      <a href="/" title="Home"class="logo_link"><h4 class="logo"><img src="/assets/icons/logoCopy.png" class="logo_img">JamesHooverDesign.com</h4></a>
      <h4 id="site_info" class="subtext">James Hoover<br>UX/UI Design Portfolio<br><a href="mailto:jamesfhoover@gmail.com" title="Email" class="inline_link_red">jamesfhoover@gmail.com</a></h4><br>
      <!-- Nav -->
      <ul class="uppercase">
        <li><%= link_to "Home", '/', class: "black_border" %></li>
        <li><%= link_to "Work\xC2\xA0/", '/work/sites', class: "link_red red_border active" %>
          <ul class="sub_topnav_hidden">
            <li class="capitalize active"><%= link_to "Websites", '/work/sites', class: "link_red active" %></li><br>
            <li class="capitalize"><%= link_to "Art", '/work/art', class: "link_red" %></li><br>
            <li class="capitalize"><%= link_to "Photography", '/work/photography', class: "link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', class: "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', class: "link_blue blue_border" %></li>
      </ul>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <!-- WORK_PAGE CONTENT - SITES -->
    <div class="container" id="work_page">
      <h1 class="location bold">My Work:</h1>
      <nav id="worknav">
        <ul>
        	<li><%= link_to "Websites", '/work/sites', class: "link_red red_border active" %></li>
        	<li><%= link_to "Art", '/work/art', class: "link_red red_border" %></li>
          <li><%= link_to "Photography", '/work/photography', class: "link_red red_border" %></li>
        </ul>
      </nav>
      <div class="spacer_25"></div>
      <h2 class="work_location bold uppercase">Websites</h2>
      <div class="spacer_25"></div>

      <!-- <p class="paragraph">These are websites I designed and/or built. They display my knowledge of design, usability, and front/backend website development.</p> -->
      <div id="site_block_container">
        <div class="site_block">
          <h3 class="site_title bold"><a href="http://www.google.com" title="O&G Magnolia" class="red">O&G MAGNOLIA</a></h3>
          <div class="spacer_10"></div>
          <p class="paragraph">Insurance/liability & asset management experts.
            <br><a href="http://www.google.com/" title="Google" class="inline_link_red">www.google.com</a>
          </p>
          <%= link_to image_tag("sites/ogmagnolia_home.png"), image_path("sites/ogmagnolia_home.png"), class: "site_img_link",  title: "O&G Magnolia" %>
          <div class="spacer_25"></div>
          <h4>Target Users:</h4><p class="paragraph">Potential/current investors for the company. Those curious about Warren Buffet's and other investing strategies.</p>
          <h4>Site Purpose/Goal:</h4><p class="paragraph">Inform potential/current investors about company and strategy. Convert users/visitors to sign up/subscribe to the newsletter.</p>
          <h4>My Involvement:</h4><p class="paragraph">Redesigned layout/IA/frontend implementation and implemented design using HTML5/CSS3.</p>
        </div>

        <div class="spacer_50"></div>

        <div class="site_block">
          <h3 class="site_title bold"><a href="http://www.awakewomen.net/" title="AWAKE Women" class="red">AWAKE Women</a></h3>
          <div class="spacer_10"></div>
          <p class="paragraph">Alliance of Women Achieving Knowledge and Excellence
            <br><a href="http://www.awakewomen.net/" title="AWAKE Women" class="inline_link_red">www.awakewomen.net</a>
          </p>
          <%= link_to image_tag("sites/Purple-Space.jpg"), image_path("sites/Purple-Space.jpg"), class: "site_img_link",  title: "AWAKE Women" %>
          <div class="spacer_25"></div>
          <h4>Target Users:</h4><p class="paragraph">Professional women. Non-profit for connecting professional women. Women who are a part of the organization and want to find details of upcoming events. Opportunities to help. Women who want to find out more about the organization and become members.</p>
          <h4>Site Purpose/Goal:</h4><p class="paragraph">Inform users about non-profit. Show upcoming and past events. Get people to contribute organization, funding, events, work. Get people to sign up as members.</p>
          <h4>My Involvement:</h4><p class="paragraph">Redesign already live website. User research. UI/UX, layout, IA. Frontend implementation through WordPress. Make page communicate goal/purpose more clearly. Fit target audience more appropriately. Organize content into member/non member.</p>
        </div>

        <div class="spacer_50"></div>

        <div class="site_block">
          <h3 class="site_title bold"><a href="http://www.youtube.com/" title="YouTube" class="red">YouTube</a></h3>
          <div class="spacer_10"></div>
          <p class="paragraph">Hosts user-generated videos. Includes network and professional content.
            <br><a href="http://www.youtube.com/" title="YouTube" class="inline_link_red">www.youtube.com</a>
          </p>
          <%= link_to image_tag("sites/youtube_home.png"), image_path("sites/youtube_home.png"), class: "site_img_link",  title: "YouTube" %>
          <div class="spacer_25"></div>
          <h4>Target Users:</h4><p class="paragraph">People who want to share and view content.</p>
          <h4>Site Purpose/Goal:</h4><p class="paragraph">Allows users to upload, view, and share videos, and make use of Adobe Flash Video and HTML5 technology to display a wide variety of user-generated and corporate media video.</p>
          <h4>My Involvement:</h4><p class="paragraph">Built the whole damn thing.</p>
        </div>

      </div>
    </div>
  </div>
  <div class="spacer_50"></div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
    <h4><a href="#top" title="Top" id="jump_top">Jump to top</a></h4>
    <div class="spacer_50"></div>
    <div class="icon_tray">
      <div class="spacer_10"></div>
      <a href="http://www.facebook.com/" title="Facebook"><div id="facebook_icon"></div><br>Facebook</a>
      <a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div id="flickr_icon"></div><br>Flickr</a>
      <a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div id="instagram_icon"></div><br>Instagram</a>
      <a href="http://www.tumblr.com/" title="Tumblr"><div id="tumblr_icon"></div><br>Tumblr</a>
      <a href="mailto:jamesfhoover@gmail.com" title="Email"><div id="email_icon"></div><br>Email</a>
    </div>
  	<h4 id="copy">&copy;2015 - James Hoover</h4>
  </div>
</body>