<!-- BODY -->
<body>
  <div class="wrapper">
  	<!-- NAVBAR -->
    <nav class="topnav full_width">
      <a href="/" class="logo_link">
        <div class="logo">
          <img src="/assets/meBW.jpg" class="logo_img">
          <h4>James Hoover</h4>
          <h4 class="subtext">Design Porfolio</h4>
        </div>
      </a>
      <ul class="uppercase">
        <li><%= link_to "Home", '/', :class => "black_border" %></li>
        <li><%= link_to "Work /", '/work/sites', :class => "link_red red_border active" %>
          <ul class="sub_topnav">
            <li class="capitalize"><%= link_to "/ Sites", '/work/sites', :class => "link_red active" %></li><br>
            <li class="capitalize"><%= link_to "/ Art", '/work/art', :class => "link_red" %></li><br>
            <li class="capitalize"><%= link_to "/ Photograhy", '/work/photography', :class =>"link_red" %></li>
          </ul>
        </li>
        <li><%= link_to "About", '/about', :class => "link_green green_border" %></li>
        <li class="last_element"><%= link_to "Contact", '/contact', :class => "link_blue blue_border" %></li>
      </ul>
      <div class="nav_spacer"></div>
    </nav>
    <!-- SPACERS -->
    <div class="topnav_clear"></div>
    <div class="spacer_50"></div>
    <!-- WORKPAGE CONTENT - SITES -->
    <div class="container work_page">
      <h1 class="location bold uppercase">My Work:</h1>
      <nav id="worknav">
        <ul>
        	<li><%= link_to "Sites", '/work/sites', :class => "link_red active" %></li>
        	<li><%= link_to "Art", '/work/art', :class => "link_red" %></li>
          <li><%= link_to "Photograhy", '/work/photography', :class => "link_red" %></li>
        </ul>
      </nav>
      <h2 class="work_location uppercase">Sites</h2>
      <p>These are sites I designed and built. They display my knowledge of design, usability, and programming.</p>
      <div class="site_block_container">
        <div class="spacer_25"></div>
        <div class="site_block">
          <h3>O&G MAGNOLIA</h3>
          <div class="spacer_10"></div>
          <p>Insurance/liability & asset management experts.</p>
          <div class="spacer_10"></div>
          <h4>Site Purpose/Goal:</h4><p>Inform investors/potential investors. Convert users/visitors to sign up/subscribe to the newsletter.</p>
          <%= image_tag("sites/ogmagnolia_home.png") %>
          <div class="spacer_50"></div>
          <div class="site_block"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="footer push center_horizontal_text">
  	<h4>&copy;2015 - James Hoover</h4>
  </div>
</body>