<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="contact-info push">
          <h4>James Hoover</h4>
          <h4>Web Design Portfolio<br></h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul class="half-width first">
          <li><%= link_to "Home", '/', class: "nav-black" %></li>
          <li><%= link_to "Work\xC2\xA0/", '/work/sites', class: "nav-red current" %>
            <ul class="sub-nav">
              <a href="/work/sites"><li class="capitalize">Projects</li></a>
              <a href="/work/art"><li class="capitalize">Art</li></a>
              <a href="/work/photography"><li class="capitalize">Photography</li></a>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- WORK-NAV -->
    <nav class="work-nav row">
      <h1 class="page-title">my work:</h1>
        <ul>
          <li><%= link_to "Projects", '/work/sites', class: "nav-black current" %></li>
          <li><%= link_to "Art", '/work/art', class: "nav-black" %></li>
          <li><%= link_to "Photography", '/work/photography', class: "nav-black" %></li>
        </ul>
    </nav>
    <!-- WORK-INFO -->
    <section class="work-info row">
      <h2 class="work-title">projects</h2>
      <p class="work-desc">I design and build websites! Check out some of my recent projects. <a href="/contact" title="Contact Me" class= "red"> Contact me</a> for availabilty/time/pricing.</p>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <div class="project-img two-thirds first">
        <%= link_to image_tag("sites/ogmagnolia_home.png"), image_path("sites/ogmagnolia_home.png"), class: "project-img-link",  title: "O&G Magnolia" %>
      </div>
      <article class="project-info one-third">
        <article class="project-title">
          <h3><a href="http://www.google.com" title="O&G Magnolia" class="red">O&G MAGNOLIA</a></h3>
          <h5 class="paragraph">Insurance/liability & asset management experts.</h5>
          <a href="http://www.google.com/" title="Google" class="red">www.google.com</a>  
        </article>
        <h4>target users/</h4><p class="paragraph">Potential/current investors for the company. Those curious about Warren Buffet's and other investing strategies.</p>
        <h4>site goal</h4><p class="paragraph">Inform potential/current investors about company and strategy. Convert users/visitors to sign up/subscribe to the newsletter.</p>
        <h4>my involvement:</h4><p class="paragraph">Studied targeted userbase. Wireframed/Designed layout&IA for already established content. Frontend implementation using HTML5/CSS3.</p>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <div class="project-img two-thirds first">
      <%= link_to image_tag("sites/Purple-Space.jpg"), image_path("sites/Purple-Space.jpg"), class: "project-img-link",  title: "AWAKE Women" %>
      </div>
      <article class="project-info one-third">
        <article class="project-title">
          <h3><a href="http://www.awakewomen.net/" title="AWAKE Women" class="red">AWAKE Women</a></h3>
          <h5 class="paragraph">Alliance of Women Achieving Knowledge and Excellence</h5>
          <a href="http://www.awakewomen.net/" title="AWAKE Women" class="red">www.awakewomen.net</a>
        </article>
        <h4>Target Users:</h4><p class="paragraph">Professional women. Non-profit for connecting professional women. Women who are a part of the organization and want to find details of upcoming events. Opportunities to help. Women who want to find out more about the organization and become members.</p>
        <h4>Site Purpose/Goal:</h4><p class="paragraph">Inform users about non-profit. Show upcoming and past events. Get people to contribute organization, funding, events, work. Get people to sign up as members.</p>
        <h4>My Involvement:</h4><p class="paragraph">Studied/questioned users. review/investigate already live website. drafted more sensible IA for user goals/needs member and non member. Frontend implementation through WordPress. Make page communicate goal/purpose more clearly. Fit target audience more appropriately. Testing?</p>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <div class="project-img two-thirds first">
        <%= link_to image_tag("sites/youtube_home.png"), image_path("sites/youtube_home.png"), class: "project-img-link",  title: "YouTube" %>
      </div>
      <article class="project-info one-third">
        <h3 class="project-title"><a href="http://www.youtube.com/" title="YouTube" class="red">YouTube</a></h3>
        <h5>Hosts user-generated videos. Includes amateur and professional content.</h5>
        <h4>about the project:</h4><p class="paragraph">People who want to share and view content.</p>
        <h4>about the project:</h4><p class="paragraph">Allows users to upload, view, and share videos, and make use of Adobe Flash Video and HTML5 technology to display a wide variety of user-generated and corporate media video.</p>
        <h4>reponsible for:</h4><p class="paragraph">Built the whole damn thing.</p>
        <h4>see the:</h4>
        <h5><a href="https://github.com/JamesHoover" title="GitHub" class="prominent-red">code</a> / <a href="https://github.com/JamesHoover" title="YouTube" class="prominent-red">website</a></h5>
      </article>
    </section>
    <aside class="checkout row">
      <h4>Check out my <a href="https://github.com/JamesHoover" title="GitHub" class="red">GitHub</a> for more work.</h4>
    </aside>
  </div>
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="jump-top">
      <h4><a href="#top" title="Top">Jump to top</a></h4>
    </section>
    <section class="icon-tray">
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>Github</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
  	<h6 class="copyright">&copy;2015 - James Hoover</h6>
  </footer>
</body>