<!-- BODY -->
<body>
  <a name="top"></a>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover - Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black sub-link" %></li>
          <li><%= link_to "Work", '/work/sites', class: "nav-red current" %>
            <ul class="sub-site-nav">
              <li><%= link_to "Projects", '/work/sites', class: "nav-red current" %></li>
              <li><%= link_to "Art", '/work/art', class: "nav-red" %></li>
              <li><%= link_to "Photography", '/work/photography', class: "nav-red" %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about', class: "nav-green sub-link" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue sub-link" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- WORK-NAV -->
    <nav class="work-nav row">
      <h1 class="work-title">My Work: Projects</h1>
      <ul>
        <li><%= link_to "Projects", '/work/sites', class: "nav-red current" %></li>
        <li><%= link_to "Art", '/work/art', class: "nav-red sub-link" %></li>
        <li><%= link_to "Photography", '/work/photography', class: "nav-red sub-link" %></li>
      </ul>
    </nav>
    <!-- WORK-INFO -->
    <section class="work-info row">
    </section>
    <!-- WORK-CONTENT -->
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <article class="project-title">
        <h2>Nemo Homes LLC</h2>
        <a href="http://www.nemohomesllc.com/" title="Google" class="red">www.NemoHomesLLC.com</a>  
      </article>
      <div class="project-img two-thirds first">
        <%= link_to image_tag("sites/nemo-home.png"), image_path("sites/nemo-home.png"), class: "project-img-link",  title: "O&G Magnolia" %>
      </div>
      <article class="project-info one-third">
        <h4 class="project-title">Real Estate Investment Company</h4>
        <h4>Target Users:</h4><p class="paragraph">Potential/current clients and investors. Those interested in currently held properties.</p>
        <h4>Site Goal:</h4><p class="paragraph">Inform users about current and past projects. Provide contact information.</p>
        <h4>Responsible for:</h4><p class="paragraph">Studied succesful related websites. Wireframed/Designed layout. Front-end implementation using HTML5/CSS3.</p>
        <h4>View the:</h4>
        <h5>
          <a href="http://www.nemohomesllc.com/" title="YouTube" class="outline-red">website</a> / 
          <a href="https://github.com/JamesHoover/nemo_homes" title="GitHub" class="outline-red">code</a>
        </h5>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <article class="project-title">
        <h2>AWAKE Women</h2>
        <a href="http://www.awakewomen.net/" title="AWAKE Women" class="red">www.awakewomen.net</a>
      </article>
      <div class="project-img two-thirds first">
      <%= link_to image_tag("sites/Purple-Space.jpg"), image_path("sites/Purple-Space.jpg"), class: "project-img-link",  title: "AWAKE Women" %>
      </div>
      <article class="project-info one-third">
        <h4 class="project-title">Alliance of Women Achieving Knowledge and Excellence</h4>
        <h4>Target Users:</h4><p class="paragraph">Professional women. Non-profit for connecting professional women. Women who are a part of the organization and want to find details of upcoming events. Opportunities to help. Women who want to find out more about the organization and become members.</p>
        <h4>Site Purpose/Goal:</h4><p class="paragraph">Inform users about non-profit. Show upcoming and past events. Get people to contribute organization, funding, events, work. Get people to sign up as members.</p>
        <h4>My Involvement:</h4><p class="paragraph">Studied/questioned users. review/investigate already live website. drafted more sensible IA for user goals/needs member and non member. Frontend implementation through WordPress. Make page communicate goal/purpose more clearly. Fit target audience more appropriately. Testing?</p>
        <h4>view the:</h4>
        <h5>
          <a href="https://github.com/JamesHoover" title="YouTube" class="outline-red">website</a> / 
          <a href="https://github.com/JamesHoover" title="GitHub" class="outline-red">code</a>
        </h5>
      </article>
    </section>
    <!-- PROJECT-BLOCK -->
    <section class="project-block row">
      <article class="project-title">
        <h2>206 Tutoring</h2>
        <a href="http://www.206tutoring.com/" title="206 Tutoring" class="red">www.206tutoring.com</a>
      </article>
      <div class="project-img two-thirds first">
        <%= link_to image_tag("sites/youtube_home.png"), image_path("sites/youtube_home.png"), class: "project-img-link",  title: "YouTube" %>
      </div>
      <article class="project-info one-third">
        <h4 class="project-title">Private tutor and music teacher in and around Seattle</h4>
        <h4>Target Users:</h4><p class="paragraph">People who want to share and view content.</p>
        <h4>Site Goal:</h4><p class="paragraph">Allows users to upload, view, and share videos, and make use of Adobe Flash Video and HTML5 technology to display a wide variety of user-generated and corporate media video.</p>
        <h4>Reponsible for:</h4><p class="paragraph">Built the whole damn thing.</p>
        <h4>view the:</h4>
        <h5>
          <a href="https://github.com/JamesHoover" title="YouTube" class="outline-red">website</a> / 
          <a href="https://github.com/JamesHoover" title="GitHub" class="outline-red">code</a>
        </h5>
      </article>
    </section>
    <aside class="see-more row">
      <h4>Check out my <a href="https://github.com/JamesHoover" title="GitHub" class="red">GitHub</a> for more work.</h4>
    </aside>
  </div>
  <!-- FOOTER -->
  <footer class="row footer foot-push">
    <section class="jump-top">
      <h4><a href="#top" title="Top" class="outline-black">Jump to top</a></h4>
    </section>
    <section class="icon-tray">
      <ul>
        <li><a href="https://github.com/JamesHoover" title="GitHub"><div class="github-icon"></div><br>Github</a></li>
        <li><a href="https://www.flickr.com/photos/130235786@N06/" title="Flickr"><div class="flickr-icon"></div><br>Flickr</a></li>
        <li><a href="https://instagram.com/hey_its_jamas/" title="Instagram"><div class="instagram-icon"></div><br>Instagram</a></li>
        <li><a href="mailto:jamesfhoover@gmail.com" title="Email"><div class="email-icon"></div><br>Email</a></li>
      </ul>
    </section>
  	<h6 class="copyright">&copy;2015 - James Hoover</h6>
  </footer>
</body>