<body>
  <nav class="topnav container full_width">
    <a href="/" class="logo_link">
      <div class="logo">
        <img src="/assets/me.jpg" class="logo_img">
        <h3>James Hoover</h3>
        <h4 class="subtext">Design Porfolio</h4>
      </div>
    </a>
    <ul class="uppercase">
      <li><%= link_to "Home", '/', :id =>"nav_home" %></li>
      <li><%= link_to "Work/", '/work/sites', :id =>"nav_work", :class => "active" %>
        <ul class="sub_topnav">
          <li class="capitalize"><%= link_to "Sites", '/work/sites', :class => "active" %></li>
          <li class="capitalize"><%= link_to "Art", '/work/art' %></li>
          <li class="capitalize"><%= link_to "Photograhy", '/work/photography' %></li>
        </ul>
      </li>
      <li><%= link_to "About", '/about', :id => "nav_about" %></li>
      <li><%= link_to "Contact", '/contact', :id => "nav_contact" %></li>
    </ul>
  </nav>
  <div class="topnav_clear"></div>
  <div class="spacer"></div>
  <div class="container work_page">
    <h1 class="location bold uppercase">My Work:</h1>
    <nav id="worknav">
      <ul>
      	<li><%= link_to "Sites", '/work/sites', :class => "active" %></li>
      	<li><%= link_to "Art", '/work/art' %></li>
        <li><%= link_to "Photograhy", '/work/photography' %></li>
      </ul>
    </nav>
    <div>
      <h2 class="work_location uppercase">Sites</h2>
      <p>These are sites I designed and built. They display my knowledge of design, usability, and programming.</p>
    </div>
  </div>
  <div class="footer"><h1 id="copy">&copy;2015 - James Hoover</h1></div>
</body>