<!DOCTYPE html>
<html>
  <head>
    <title>James H | UX/UI Design</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <%= yield %>
</html>


<!--
            <ul>
              <li><%= link_to "Sites", '/work/sites' %></li>
              <li><%= link_to "Art", '/work/art' %></li>
              <li><%= link_to "Photograhy", '/work/photography' %></li>
            </ul>
-->