<!DOCTYPE html>
<html>
  <head>
    <title>James H | Design</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <nav class="topnav">
        <ul id="drop_menu">
          <li class="navlink_home"><%= link_to "Home", '/' %></li>
          <li>
            <%= link_to "Work", '/work/sites' %>
            <ul>
              <li><%= link_to "Sites", '/work/sites' %></li>
              <li><%= link_to "Art", '/work/art' %></li>
              <li><%= link_to "Photograhy", '/work/photography' %></li>
            </ul>
          </li>
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "Contact", '/contact' %></li>
        </ul>
      </nav>
    <div class="container_body">
      <%= yield %>
    </div>
  </body>
</html>
